<template>
    <div>
        <md-dialog :md-active="active"
                   @md-opened="setDefaultData"
                   @md-clicked-outside="closeDialog">
            <md-dialog-content>

                <md-dialog-title>Form</md-dialog-title>
                <div class="md-layout">
                    <div class="md-layout-item">
                        <md-field>
                            <label for="name">Name</label>
                            <md-input v-model="data.name" name="name" id="name"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item">
                        <md-field class="dropdown">
                            <label for="q_reward_set_id">Reward Set</label>
                            <md-select v-model="data.reward_set_id" name="q_reward_set_id" id="q_reward_set_id">
                                <md-option v-for="reward in rewardOption" :value="reward">{{reward}}</md-option>
                            </md-select>
                        </md-field>
                    </div>
                    <div class="md-layout-item">
                        <md-field>
                            <label for="points">Points</label>
                            <md-input v-model="data.points" name="points"
                                      id="points" type="number"></md-input>
                        </md-field>
                    </div>
                </div>

                <div class="md-layout">
                    <div class="md-layout-item">
                        <md-field>
                            <label>Description</label>
                            <md-textarea v-model="data.description"></md-textarea>
                        </md-field>
                    </div>
                </div>

                <div class="md-layout">
                    <div class="md-layout-item">
                        <md-field :class="{'md-invalid':validate.radius}">
                            <label for="radius">Radius Location</label>
                            <md-input v-model="data.radius_location"
                                      name="radius" id="radius" type="number"/>
                            <span class="md-error">Required Radius Location</span>
                        </md-field>
                    </div>
                    <div class="md-layout-item">
                        <md-field :class="{'md-invalid':validate.latitude}">
                            <label for="latitude">Latitude</label>
                            <md-input v-model="data.latitude"
                                      name="latitude" id="latitude" type="number"/>
                            <span class="md-error">Required Latitude</span>
                        </md-field>
                    </div>
                    <div class="md-layout-item">
                        <md-field :class="{'md-invalid':validate.longitude}">
                            <label for="longitude">Longitude</label>
                            <md-input v-model="data.longitude"
                                      name="longitude" id="longitude" type="number"/>
                            <span class="md-error">Required Longitude</span>
                        </md-field>
                    </div>
                    <div class="md-layout-item">
                        <md-field>
                            <label>Quest Image (Only PNG images)</label>
                            <md-file @md-change="imgToBase64"
                                     v-model="imgUpload"
                                     accept="image/png"/>
                        </md-field>
                    </div>
                </div>

                <div class="md-layout">
                    <div class="md-layout-item">
                        <md-field :class="{'md-invalid':validate.conditions.conditions}">
                            <label for="conditions">Conditions (steps)</label>
                            <md-input v-model="data.conditions.conditions"
                                      name="conditions" id="conditions"
                                      type="number"/>
                            <span class="md-error">Required Conditions</span>
                        </md-field>
                    </div>
                    <div class="md-layout-item">
                        <md-field :class="{'md-invalid':validate.conditions.durations}">
                            <label for="durations">Durations (minutes)</label>
                            <md-input v-model="data.conditions.durations"
                                      name="durations" id="durations"
                                      type="number"/>
                            <span class="md-error">Required Durations</span>
                        </md-field>
                    </div>
                    <div class="md-layout-item">
                        <md-field :class="{'md-invalid':validate.effects.capacity.value}">
                            <label for="capacity">Capacity</label>
                            <md-input v-model="data.effects.capacity.value"
                                      name="capacity" id="capacity"
                                      type="number"></md-input>
                            <span class="md-error">Required Capacity</span>
                        </md-field>
                    </div>
                    <div class="md-layout-item">
                        <md-field :class="{'md-invalid':validate.effects.multiplier.value}">
                            <label for="multiplier">Multiplier</label>
                            <md-input v-model="data.effects.multiplier.value"
                                      name="multiplier" id="multiplier"
                                      type="number"></md-input>
                            <span class="md-error">Required Multiplier</span>
                        </md-field>
                    </div>
                </div>

                <div class="md-layout">
                    <div class="md-layout-item md-size-20 md-medium-size-50 padding-top">
                        <div class="card">
                            <datetime v-model="data.started_at"
                                      type="datetime"
                                      placeholder="Started At"
                                      @close="checkTime"/>
                        </div>
                    </div>
                    <div class="md-layout-item md-size-30 md-medium-size-50">
                        <md-checkbox v-model="startNull"
                                     @change="setNullTime">
                            {{ timeStatus('Started at', startNull) }}
                        </md-checkbox>
                    </div>

                    <div class="md-layout-item md-size-20 md-medium-size-50 padding-top">
                        <div class="card">
                            <datetime v-model="data.ended_at"
                                      type="datetime"
                                      :min-datetime="data.started_at"
                                      placeholder="Ended At"
                                      @close="checkTime"/>
                        </div>
                    </div>
                    <div class="md-layout-item md-size-30 md-medium-size-50">
                        <md-checkbox v-model="endNull"
                                     @change="setNullTime">
                            {{ timeStatus('Ended at', endNull) }}
                        </md-checkbox>
                    </div>
                </div>

                <div class="md-layout">
                    <div class="md-layout-item md-size-50">
                        <md-switch v-model="data.used" class="md-primary">{{ status }}</md-switch>
                    </div>
                </div>

                <md-dialog-actions>
                    <md-button class="md-primary" @click="closeDialog">Close</md-button>
                    <md-button class="md-primary" @click="saveForm">Save</md-button>
                </md-dialog-actions>
            </md-dialog-content>
        </md-dialog>
    </div>
</template>

<script>
    import Vue from 'vue';
    import Datetime from 'vue-datetime';
    import Service from "../../services/index";

    Vue.use(Datetime);

    export default {
        name: "FormLocationQuest",
        props: ["active", "id", "total", "page", "reloadData", "reloadDataByPage"],
        data() {
            return {
                date: null,
                startNull: false,
                endNull: false,
                rewardOption: [],
                actions: {
                    get_item: 'ได้รับไอเท็ม',
                    use_item: 'ใช้ไอเท็ม',
                    get_step: 'วิ่งครบจำนวนก้าว'
                },
                value: null,
                single: null,
                initial: null,
                data: {
                    used: null,
                    conditions: {
                        conditions: null,
                        durations: null
                    },
                    effects: {
                        capacity: {
                            img: "",
                            value: 1
                        },
                        multiplier: {
                            img: "",
                            value: 1
                        }
                    }
                },
                imgUpload: null,
                validate: {
                    pass: true,
                    name: false,
                    conditions: {
                        conditions: false,
                        durations: false
                    },
                    effects: {
                        capacity: {
                            img: false,
                            value: false
                        },
                        multiplier: {
                            img: false,
                            value: false
                        }
                    }
                }
            };
        },
        components: {},
        computed: {
            status() {
                if (
                    this.data.used ||
                    this.data.used === "on" ||
                    this.data.used === 1
                ) {
                    this.data.used = "on";
                    return 'used';
                } else {
                    this.data.used = null;
                    return 'unused';
                }

            }
        },
        methods: {
            closeDialog() {
                this.$emit("update:active", false);
            },
            setDefaultData() {
                this.validate = {
                    pass: true,
                    name: false,
                    conditions: {
                        conditions: false,
                        durations: false
                    },
                    effects: {
                        capacity: {
                            img: false,
                            value: false
                        },
                        multiplier: {
                            img: false,
                            value: false
                        }
                    },
                    radius: false,
                    latitude: false,
                    longitude: false
                };
                Service.rewardSets
                    .selectOption()
                    .then(res => {
                        this.rewardOption = res;
                    }).then(() => {
                    if (this.id != null) {
                        Service.locationQuests
                            .show(this.id)
                            .then(res => {
                                console.log(res)
                                this.data = res.result;
                                this.data.conditions = JSON.parse(res.result.conditions);
                                this.data.effects = JSON.parse(res.result.effects);
                            })
                            .then(() => {
                                this.data.image = null;
                                this.imgUpload = null
                            });
                    } else {
                        this.data = {
                            id: null,
                            name: null,
                            description: null,
                            reward_set_id: null,
                            used: null,
                            action: null,
                            target: null,
                            started_at: null,
                            ended_at: null,
                            image: null,
                            points: null,
                            conditions: {
                                conditions: null,
                                durations: null
                            },
                            effects: {
                                capacity: {
                                    img: "",
                                    value: 1
                                },
                                multiplier: {
                                    img: "",
                                    value: 1
                                }
                            }
                        };
                        this.startNull = false;
                        this.endNull = false;
                        this.imgUpload = null
                    }
                });
            },
            validateForm: function () {
                if (this.data.radius_location === null || this.data.radius_location < 1) {
                    this.validate.radius = true;
                } else {
                    this.validate.radius = false;
                }
                if (this.data.latitude === null || this.data.latitude < 1) {
                    this.validate.latitude = true;
                } else {
                    this.validate.latitude = false;
                }
                if (this.data.longitude === null || this.data.longitude < 1) {
                    this.validate.longitude = true;
                } else {
                    this.validate.longitude = false;
                }
                if (this.data.conditions.conditions === null || this.data.conditions.conditions < 1) {
                    this.validate.conditions.conditions = true;
                } else {
                    this.validate.conditions.conditions = false;
                }
                if (this.data.conditions.durations === null || this.data.conditions.durations < 1) {
                    this.validate.conditions.durations = true;
                } else {
                    this.validate.conditions.durations = false;
                }
                if (this.data.effects.capacity.value === null || this.data.effects.capacity.value < 1) {
                    this.validate.effects.capacity.value = true;
                } else {
                    this.validate.effects.capacity.value = false;
                }
                if (this.data.effects.multiplier.value === null || this.data.effects.multiplier.value < 1) {
                    this.validate.effects.multiplier.value = true;
                } else {
                    this.validate.effects.multiplier.value = false;
                }

                if (
                    !this.validate.radius &&
                    !this.validate.latitude &&
                    !this.validate.longitude &&
                    !this.validate.conditions.conditions &&
                    !this.validate.conditions.durations &&
                    !this.validate.effects.capacity.value &&
                    !this.validate.effects.multiplier.value
                ) {
                    this.validate.pass = true;
                } else {
                    this.validate.pass = false;
                }

                return this.validate.pass;
            },
            saveForm() {

                if (!this.validateForm()) {
                    return;
                }
                if (this.id != null) {
                    Service.locationQuests
                        .put(this.id, this.data)
                        .then(res => {
                            this.reload();
                            this.closeDialog();
                            this.notifyVue(`Update <strong>quest</strong>`, `success`);
                        })
                        .catch(err => {
                            this.closeDialog();
                            this.notifyVue(
                                `Update <strong> Fail</strong> ${err.message}.`,
                                `danger`
                            );
                        });
                } else {
                    Service.locationQuests
                        .post(this.data)
                        .then(res => {
                            this.reload();
                            this.closeDialog();
                            this.notifyVue(`Create <strong>quest</strong>`, `success`);
                        })
                        .catch(err => {
                            this.closeDialog();
                            this.notifyVue(
                                `Create <strong> Fail</strong> ${err.message}.`,
                                `danger`
                            );
                        });
                }
            }
            ,
            imgToBase64() {
                let file = this.imgUpload;
                let reader = new FileReader();

                reader.readAsDataURL(file.target.files[0]);

                let _this = this;
                reader.onload = function () {
                    _this.data.image = reader.result;
                };
                reader.onerror = function (error) {
                    console.log("Error: ", error);
                };
            }
            ,
            notifyVue(message, type) {
                this.$notify({
                    message: message,
                    icon: "add_alert",
                    horizontalAlign: "right",
                    verticalAlign: "top",
                    type: type
                });
            }
            ,
            reload() {
                if (this.total - 1 > 15) {
                    this.reloadDataByPage();
                } else {
                    this.reloadData();
                }
            }
            ,
            setNullTime() {
                if (this.startNull) {
                    this.data.started_at = null;
                }
                if (this.endNull) {
                    this.data.ended_at = null;
                }
            }
            ,
            timeStatus(state, val) {
                if (val) {
                    return state + ' is null.';
                } else {
                    return 'Set ' + state + ' to null.';
                }
            }
            ,
            checkTime() {
                if (this.data.started_at != null) {
                    this.startNull = false;
                }
                if (this.data.ended_at != null) {
                    this.endNull = false;
                }
            }
            ,
        }
    };
</script>

<style scoped>
    .padding-top {
        padding-top: 12px;
    }

    .md-dialog {
        width: 100%;
        transform: translate(calc(-50% + 0.5px), calc(-50% + 0.5px));
    }

    .my-input-class {
        background: dimgrey;
        border: 10px solid;
    }
</style>
<style lang="scss">
    @import '../../../node_modules/bootstrap/scss/bootstrap';
    /*You need a specific loader for CSS files*/
    @import '../../../node_modules/vue-datetime/dist/vue-datetime.css';
</style>
