<template>
    <div class="wrapper" :class="{'nav-open': $sidebar.showSidebar}">
        <notifications></notifications>

        <side-bar>
            <mobile-menu slot="content"></mobile-menu>
            <!--
            <sidebar-link to="/dashboard">
                <md-icon>dashboard</md-icon>
                <p>Dashboard</p>
            </sidebar-link>
            <sidebar-link to="/profile">
                <md-icon>person</md-icon>
                <p>User Profile</p>
            </sidebar-link>
            <sidebar-link to="/table">
                <md-icon>content_paste</md-icon>
                <p>Table list</p>
            </sidebar-link>
            <sidebar-link to="/typography">
                <md-icon>library_books</md-icon>
                <p>Typography</p>
            </sidebar-link>
            <sidebar-link to="/icons">
                <md-icon>bubble_chart</md-icon>
                <p>Icons</p>
            </sidebar-link>
            <sidebar-link to="/maps">
                <md-icon>location_on</md-icon>
                <p>Maps</p>
            </sidebar-link>
            <sidebar-link to="/notifications">
                <md-icon>notifications</md-icon>
                <p>Notifications</p>
            </sidebar-link>
            -->

            <!-- Admin Menu -->
            <sidebar-link to="/achievements">
                <md-icon>grade</md-icon>
                <p>Achievements</p>
            </sidebar-link>
            <sidebar-link to="/achievement-types">
                <md-icon>list</md-icon>
                <p>AchievementTypes</p>
            </sidebar-link>
            <sidebar-link to="/categories">
                <md-icon>calendar_view_day</md-icon>
                <p>Categories</p>
            </sidebar-link>
            <sidebar-link to="/daily-quests">
                <md-icon>bookmarks</md-icon>
                <p>DailyQuests</p>
            </sidebar-link>
            <sidebar-link to="/donations">
                <md-icon>input</md-icon>
                <p>Donations</p>
            </sidebar-link>
            <sidebar-link to="/events">
                <md-icon>event_note</md-icon>
                <p>Events</p>
            </sidebar-link>
            <sidebar-link to="/items">
                <md-icon>store</md-icon>
                <p>Items</p>
            </sidebar-link>
            <sidebar-link to="/location-quests">
                <md-icon>bookmarks</md-icon>
                <p>LocationQuests</p>
            </sidebar-link>
            <sidebar-link to="/login-quests">
                <md-icon>bookmarks</md-icon>
                <p>LoginQuests</p>
            </sidebar-link>
            <sidebar-link to="/news">
                <md-icon>sim_card</md-icon>
                <p>News</p>
            </sidebar-link>
            <sidebar-link to="/ranking">
                <md-icon>poll</md-icon>
                <p>Ranking</p>
            </sidebar-link>
            <sidebar-link to="/reward-sets">
                <md-icon>redeem</md-icon>
                <p>RewardSets</p>
            </sidebar-link>
            <sidebar-link to="/system-configs">
                <md-icon>settings</md-icon>
                <p>SystemConfigs</p>
            </sidebar-link>
            <sidebar-link to="/users">
                <md-icon>people</md-icon>
                <p>Users</p>
            </sidebar-link>
            <sidebar-link to="/verify">
                <md-icon>verified_user</md-icon>
                <p>VerifyUser</p>
            </sidebar-link>
            <!--/Admin Menu -->

            <sidebar-link @click.native="logOut" to="#">
                <md-icon>exit_to_app</md-icon>
                <p>Logout</p>
            </sidebar-link>
        </side-bar>

        <div class="main-panel">
            <top-navbar></top-navbar>

            <dashboard-content>

            </dashboard-content>

            <content-footer v-if="!$route.meta.hideFooter"></content-footer>
        </div>
    </div>
</template>
<style lang="scss">
</style>
<script>
import TopNavbar from "./TopNavbar.vue";
import ContentFooter from "./ContentFooter.vue";
import DashboardContent from "./Content.vue";
import MobileMenu from "@/pages/Layout/MobileMenu.vue";

export default {
  components: {
    TopNavbar,
    DashboardContent,
    ContentFooter,
    MobileMenu
  },
  methods: {
    logOut() {
      return this.$store
        .dispatch("Auth/logout")
        .then(() => this.$router.push("/login"))
        .then(() => window.localStorage.removeItem("vuex"));
    }
  }
};
</script>
