<template>
    <div class="content">
        <div class="md-layout">
            <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100">
                <md-card>
                    <md-card-header data-background-color="green">
                        <h4 class="title">Items Table</h4>
                        <p class="category">All items in system.</p>
                    </md-card-header>
                    <md-card-content>
                        <items-table table-header-color="green"></items-table>
                        <!--<simple-table table-header-color="green"></simple-table>-->
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</template>

<script>
import ItemsTable from "../../pages/Items/ItemsTable";
import { SimpleTable, OrderedTable } from "@/components";

export default {
  name: "Items",
  components: {
    ItemsTable
  }
};
</script>

<style scoped>
</style>
