<template>
    <div>
        <div class="md-layout md-gutter md-alignment-center-right">
            <div class="md-layout-item md-size-25">
                <md-field>
                    <label>Search</label>
                    <md-input v-model="filter" type="text" @keyup.enter="initData"></md-input>
                    <span class="md-helper-text">Press enter for search</span>
                </md-field>
            </div>
            <div class="md-layout-item md-size-25">
                <router-link :to="{ name: 'ItemForm', params: {id: null } }">
                    <md-button class="md-success md-just-icon">
                        <md-icon>add</md-icon>
                        <md-tooltip md-direction="top">Add</md-tooltip>
                    </md-button>
                </router-link>
            </div>
        </div>
        <div v-if="items != null">
            <md-table v-model="items" :table-header-color="tableHeaderColor">
                <md-table-row slot="md-table-row" slot-scope="{ item }">
                    <md-table-cell>
                        <router-link :to="{ name: 'ItemForm', params: {id: item.id } }">
                            <md-button class="md-just-icon md-simple md-primary">
                                <md-icon>edit</md-icon>
                                <md-tooltip md-direction="top">Edit</md-tooltip>
                            </md-button>
                        </router-link>
                        <md-button class="md-just-icon md-simple md-danger"
                                   @click="openConfirmModal(item)">
                            <md-icon>close</md-icon>
                            <md-tooltip md-direction="top">Delete</md-tooltip>
                        </md-button>
                    </md-table-cell>
                    <md-table-cell md-label="Name">{{ item.name }}</md-table-cell>
                    <md-table-cell md-label="Image">
                        <img :src="item.image" alt="Avatar" style="width: 50px">
                    </md-table-cell>
                    <md-table-cell md-label="Better Price">{{ item.better_price }}</md-table-cell>
                    <md-table-cell md-label="Money Price">{{ item.money_price }}</md-table-cell>
                    <md-table-cell md-label="Duration">{{ item.duration }}</md-table-cell>
                    <md-table-cell md-label="Active">{{ item.active }}</md-table-cell>
                    <md-table-cell md-label="Type">{{ item.type }}</md-table-cell>
                    <md-table-cell md-label="Effects">
                    <span v-if="item.effects.length > 0">
                        <span v-for="(effect, index) in JSON.parse(item.effects)">
                            <span v-if="index === 'multiplier' || index === 'capacity'">
                                <strong>{{ index }}</strong>
                                <br>
                                <span v-for="(value, key) in effect">
                                    <div v-if="key === 'img'">
                                        <img :src="value" alt="Avatar" style="width: 25px">
                                    </div>
                                    <div v-else>
                                        {{ key }} : {{ value }} <br>
                                    </div>
                                </span>
                            </span>
                            <span v-else>
                                <strong>{{ index }}</strong>
                                <br>
                                <span> {{ effect }} </span>
                                <br>
                            </span>
                        </span>
                    </span>
                    </md-table-cell>
                </md-table-row>
            </md-table>

            <div class="md-alignment-center-center" v-if="paginate.total > 0">
                <div class="md-layout-item md-size-100 text-center">
                    <vue-ads-pagination
                            :page="paginate.currentPage - 1"
                            :itemsPerPage="paginate.perPage"
                            :totalItems="paginate.total"
                            :loading="pageLoading"
                            @page-change="pageChange"
                    />
                </div>
            </div>

            <md-dialog-confirm
                    :md-active.sync="confirmModal"
                    md-title="Confirm Delete"
                    :md-content="confirmModalContent"
                    @md-cancel="onCancel"
                    @md-confirm="onConfirm"/>
        </div>
    </div>
</template>

<script>
    import Vue from "vue";
    import Service from "../../services/index";
    import VueAdsPagination from "vue-ads-pagination";
    import {VueAdsPageButton} from "vue-ads-pagination";
    import Notifications from "../../components/NotificationPlugin";

    Vue.use(Notifications);

    export default {
        name: "items-table",
        props: {
            tableHeaderColor: {
                type: String,
                default: ""
            }
        },
        data() {
            return {
                result: null,
                filter: "",
                items: null,
                confirmModal: false,
                value: null,
                paginate: {
                    currentPage: 1,
                    firstPageUrl: null,
                    from: null,
                    lastPage: null,
                    lastPageUrl: null,
                    nextPageUrl: null,
                    perPage: null,
                    path: null,
                    prevPageUrl: null,
                    to: null,
                    total: 0
                },
                showFormDialog: false,
                confirmModalContent: "Are you sure you want to delete this item?",
                pageLoading: false
            };
        },
        computed: {},
        components: {
            VueAdsPagination,
            VueAdsPageButton
        },
        beforeCreate() {
            Service.items.getAllItems(this.filter).then(res => {
                this.result = res.result;
                this.usageData(res);
                this.items = this.result.data;
            });
        },
        methods: {
            initData(){
                Service.items.getAllItems(this.filter).then(res => {
                    this.result = res.result;
                    this.usageData(res);
                    this.items = this.result.data;
                });
            },
            usageData(res) {
                this.result = res.result;
                this.paginate = {
                    currentPage: this.result.current_page,
                    firstPageUrl: this.result.first_page_url,
                    from: this.result.from,
                    lastPage: this.result.last_page,
                    lastPageUrl: this.result.last_page_url,
                    nextPageUrl: this.result.next_page_url,
                    perPage: this.result.per_page,
                    path: this.result.path,
                    prevPageUrl: this.result.prev_page_url,
                    to: this.result.to,
                    total: this.result.total
                };
                this.items = this.result.data;
            },
            openConfirmModal(item) {
                this.confirmModalContent = `Are you sure you want to delete <strong>${
                    item.name
                    }</strong> ?`;
                this.itemIdForDelete = item;
                this.confirmModal = true;
            },
            onConfirm() {
                Service.items
                    .deleteItem(this.itemIdForDelete.id)
                    .then(data => {
                        this.notifyVue(
                            `Item <strong>${this.itemIdForDelete.name}</strong> Inactive`,
                            `success`
                        );
                    })
                    .then(() => {
                        Service.items.getItemByPage(this.result.current_page, this.filter).then(res => {
                            this.usageData(res);
                        });
                    });
            },
            onCancel() {
                this.itemIdForDelete = null;
            },
            pageChange(page, start, end) {
                this.pageLoading = true;
                Service.items.getItemByPage(`${page + 1}`, this.filter).then(res => {
                    this.usageData(res);
                    this.pageLoading = false;
                });
            },
            notifyVue(message, type) {
                this.$notify({
                    message: message,
                    icon: "add_alert",
                    horizontalAlign: "right",
                    verticalAlign: "top",
                    type: type
                });
            }
        }
    };
</script>

<style scoped>
</style>
