<template>
    <div class="content">
        <div class="md-layout" v-if="loading === false">
            <md-card>
                <md-card-header data-background-color="green">
                    <h4 class="title">Item Form</h4>
                    <p class="category">Item information.</p>
                </md-card-header>
                <md-card-content>
                    <div class="md-layout-item md-small-size-100 md-size-100">
                        <md-field :class="{'md-invalid':validate.name}">
                            <label>Name</label>
                            <md-input v-model="itemInFrom.name"></md-input>
                            <span class="md-error">Required name</span>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-small-size-100 md-size-100">
                        <md-field :class="{'md-invalid':validate.description}">
                            <label>Description</label>
                            <md-textarea v-model="itemInFrom.description"></md-textarea>
                            <span class="md-error">Required Description</span>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-small-size-100 md-size-70">
                        <md-field :class="{'md-invalid':validate.image}">
                            <label>Only PNG images</label>
                            <md-file @md-change="imgToBase64"
                                     v-model="imgUpload"
                                     accept="image/png"/>
                            <span class="md-error">Required Item Image</span>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-small-size-100 md-size-50">
                        <md-field>
                            <label>Money Price</label>
                            <md-input v-model="itemInFrom.money_price" type="text"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-small-size-100 md-size-50">
                        <md-field>
                            <label>Better Price</label>
                            <md-input v-model="itemInFrom.better_price" type="text"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-small-size-100 md-size-50">
                        <md-field>
                            <label>Duration (minutes)</label>
                            <md-input v-model="itemInFrom.duration" type="number"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-small-size-100 md-size-50">
                        <md-field>
                            <label>Expired Time (hours)</label>
                            <md-input v-model="itemInFrom.expired_time" type="number"></md-input>
                        </md-field>
                    </div>

                    <div class="md-layout">
                        <div class="md-layout-item md-size-20 md-medium-size-50 padding-top">
                            <div class="card">
                                <datetime v-model="itemInFrom.ended_at"
                                          type="datetime"
                                          placeholder="Ended At"
                                          @close="checkTime"/>
                            </div>
                        </div>
                        <div class="md-layout-item md-size-30 md-medium-size-50">
                            <md-checkbox v-model="endNull"
                                         @change="setNullTime">
                                {{ timeStatus('Ended at', endNull) }}
                            </md-checkbox>
                        </div>
                    </div>

                    <div class="md-layout-item md-small-size-100 md-size-50">
                        <md-field class="dropdown">
                            <label for="type">Type</label>
                            <md-select v-model="itemInFrom.type" name="type" id="type">
                                <md-option value="flag">Flag</md-option>
                                <md-option value="hammer">Hammer</md-option>
                                <md-option value="coin_bag">Coin Bag</md-option>
                                <md-option value="potion">Potion</md-option>
                                <md-option value="slot_bag">Slot Bag</md-option>
                                <md-option value="redeem">Redeem</md-option>
                                <md-option value="reward_item">Reward Item</md-option>
                                <md-option value="reward_coin">Reward Coin</md-option>
                            </md-select>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-small-size-100 md-size-50">
                        <md-field>
                            <label for="category">Category</label>
                            <md-select v-model="itemInFrom.category_id" name="category" id="category">
                                <md-option v-for="category in categories" :value="category.id" :key="category.id"
                                           :disabled="category.id === 1">
                                    {{ category.name }}
                                </md-option>
                            </md-select>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-small-size-100 md-size-50">
                        <md-field>
                            <label>Coin (reward)</label>
                            <md-input v-model="itemInFrom.coin" type="number"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-small-size-100 md-size-50">
                        <md-field>
                            <label>Amount</label>
                            <md-input v-model="itemInFrom.amount" type="number"></md-input>
                        </md-field>
                    </div>

                    <div class="md-layout">
                        <div class="md-layout-item">
                            <md-field>
                                <label for="bag_slot">Bag Slot</label>
                                <md-input v-model="itemInFrom.effects.bag_slot"
                                          name="bag_slot" id="bag_slot"
                                          type="number"></md-input>
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout">
                        <div class="md-layout-item">
                            <md-field>
                                <label for="radius">Radius</label>
                                <md-input v-model="itemInFrom.effects.radius_location"
                                          name="radius" id="radius"
                                          type="number"></md-input>
                            </md-field>
                        </div>
                        <div class="md-layout-item">
                            <md-field>
                                <label for="capacity">Capacity</label>
                                <md-input v-model="itemInFrom.effects.capacity.value"
                                          name="capacity" id="capacity"
                                          type="number"></md-input>
                            </md-field>
                        </div>
                        <div class="md-layout-item">
                            <md-field>
                                <label for="multiplier">Multiplier</label>
                                <md-input v-model="itemInFrom.effects.multiplier.value"
                                          name="multiplier" id="multiplier"
                                          type="number"></md-input>
                            </md-field>
                        </div>
                        <div class="md-layout-item">
                            <md-field>
                                <label for="durations">Durations (minutes)</label>
                                <md-input v-model="itemInFrom.effects.durations"
                                          name="durations" id="durations"
                                          type="number"></md-input>
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout">
                        <div class="md-layout-item md-size-20 md-medium-size-35">
                            <md-field>
                                <label>Hot Deal Discount (Percentage)</label>
                                <md-input v-model="itemInFrom.hot_deal_discount" type="number"></md-input>
                            </md-field>
                        </div>
                    </div>
                    <div class="md-layout">
                        <div class="md-layout-item md-size-20 md-medium-size-35 padding-top">
                            <div class="card">
                                <datetime v-model="itemInFrom.start_hot_deal_at"
                                          type="datetime"
                                          placeholder="Start Hot Deal At"
                                          @close="checkTime"/>
                            </div>
                        </div>
                        <div class="md-layout-item md-size-30 md-medium-size-50">
                            <md-checkbox v-model="state.null_start_hot_deal"
                                         @change="setNullTime">
                                {{ timeStatus('Start Hot Deal At', state.null_start_hot_deal) }}
                            </md-checkbox>
                        </div>
                        <div class="md-layout-item md-size-20 md-medium-size-35 padding-top">
                            <div class="card">
                                <datetime v-model="itemInFrom.end_hot_deal_at"
                                          type="datetime"
                                          :min-datetime="itemInFrom.start_hot_deal_at"
                                          placeholder="End Hot Deal At"
                                          @close="checkTime"/>
                            </div>
                        </div>
                        <div class="md-layout-item md-size-30 md-medium-size-50">
                            <md-checkbox v-model="state.null_end_hot_deal"
                                         @change="setNullTime">
                                {{ timeStatus('End Hot Deal At', state.null_end_hot_deal) }}
                            </md-checkbox>
                        </div>
                    </div>

                    <div class="md-layout">
                        <div class="md-layout-item md-size-20 md-medium-size-35">
                            <md-field>
                                <label>Discount (Percentage)</label>
                                <md-input v-model="itemInFrom.discount" type="number"></md-input>
                            </md-field>
                        </div>
                    </div>
                    <div class="md-layout">
                        <div class="md-layout-item md-size-20 md-medium-size-35 padding-top">
                            <div class="card">
                                <datetime v-model="itemInFrom.start_discount_at"
                                          type="datetime"
                                          placeholder="Start Discount At"
                                          @close="checkTime"/>
                            </div>
                        </div>
                        <div class="md-layout-item md-size-30 md-medium-size-35">
                            <md-checkbox v-model="state.null_start_discount"
                                         @change="setNullTime">
                                {{ timeStatus('Start Discount At', state.null_start_discount) }}
                            </md-checkbox>
                        </div>
                        <div class="md-layout-item md-size-20 md-medium-size-35 padding-top">
                            <div class="card">
                                <datetime v-model="itemInFrom.end_discount_at"
                                          type="datetime"
                                          :min-datetime="itemInFrom.start_discount_at"
                                          placeholder="End Discount At"
                                          @close="checkTime"/>
                            </div>
                        </div>
                        <div class="md-layout-item md-size-30 md-medium-size-35">
                            <md-checkbox v-model="state.null_end_discount"
                                         @change="setNullTime">
                                {{ timeStatus('End Discount At', state.null_end_discount) }}
                            </md-checkbox>
                        </div>
                    </div>

                    <div class="md-layout">
                        <div class="md-layout-item">
                            <md-checkbox v-model="itemInFrom.active">Active</md-checkbox>
                        </div>
                        <div class="md-layout-item">
                            <md-checkbox v-model="itemInFrom.can_purchase">Can Purchase</md-checkbox>
                        </div>
                        <div class="md-layout-item">
                            <md-checkbox v-model="itemInFrom.verified_required">Verified Required</md-checkbox>
                        </div>
                        <div class="md-layout-item">
                            <md-checkbox v-model="itemInFrom.recommend">is Recommend</md-checkbox>
                        </div>
                    </div>


                    <md-button class="md-success" @click="saveForm">Save</md-button>

                </md-card-content>
            </md-card>
        </div>

        <div class="loading-overlay" v-if="loading">
            <md-progress-spinner md-mode="indeterminate" :md-stroke="2"></md-progress-spinner>
        </div>
    </div>
</template>

<script>
    import Vue from "vue";
    import DateTime from "vue-datetime";
    import {mapActions, mapGetters} from "vuex";
    import Service from "../../services/index";
    import Notifications from "../../components/NotificationPlugin";

    Vue.use(DateTime);
    Vue.use(Notifications);

    export default {
        name: "item-form",
        components: {},
        data() {
            return {
                date: null,
                endNull: false,
                state: {
                    null_start_hot_deal: false,
                    null_end_hot_deal: false,
                    null_start_discount: false,
                    null_end_discount: false,
                },
                id: null,
                loading: true,
                imgUpload: null,
                itemInFrom: {
                    active: "active",
                    amount: null,
                    better_price: null,
                    can_purchase: 0,
                    category_id: 1,
                    description: null,
                    duration: null,
                    effects: {
                        bag_slot: 0,
                        radius_location: 0,
                        capacity: {
                            img: false,
                            value: 0
                        },
                        multiplier: {
                            img: false,
                            value: 1
                        },
                        durations: 0
                    },
                    ended_at: null,
                    expired_time: null,
                    id: null,
                    image: null,
                    money_price: null,
                    name: null,
                    type: "flag",
                    verified_required: 0
                },
                validate: {
                    pass: true,
                    name: false,
                    description: false,
                    image: false
                },
                categories: null
            };
        },
        computed: {},
        created() {
            this.id = this.$route.params.id;
            this.getCategories();
            this.setDefaultData();
        },
        methods: {
            saveForm: function () {
                if (!this.validateForm()) {
                    return;
                }
                this.loading = true;

                if (this.id != null) {
                    Service.items
                        .putUpdateItem(this.id, this.itemInFrom)
                        .then(res => {
                            console.log(res);
                            this.loading = false;
                            this.$notify({
                                message: res.status,
                                icon: "done",
                                horizontalAlign: "right",
                                verticalAlign: "top",
                                type: "success"
                            });
                        })
                        .then(()=>{
                            this.$router.push({name: 'Items'});
                        })
                        .catch(err => {
                            this.loading = false;
                            this.$notify({
                                message: err.message,
                                icon: "add_alert",
                                horizontalAlign: "right",
                                verticalAlign: "top",
                                type: "danger"
                            });
                        });
                }else{
                    Service.items
                        .post(this.itemInFrom)
                        .then(res => {
                            console.log(res);
                            this.loading = false;
                            this.$notify({
                                message: res.status,
                                icon: "done",
                                horizontalAlign: "right",
                                verticalAlign: "top",
                                type: "success"
                            });
                        })
                        .then(()=>{
                            this.$router.push({name: 'Items'});
                        })
                        .catch(err => {
                            this.loading = false;
                            this.$notify({
                                message: err.message,
                                icon: "add_alert",
                                horizontalAlign: "right",
                                verticalAlign: "top",
                                type: "danger"
                            });
                        });
                }
            },
            setDefaultData: function () {
                if (this.id != null) {
                    Service.items
                        .getItemDetails(this.id)
                        .then(res => {
                            console.log(res);
                            this.itemInFrom = res.result;
                        })
                        .then(() => {
                            this.itemInFrom.effects = JSON.parse(this.itemInFrom.effects);

                            this.itemInFrom.image = null;
                            this.itemInFrom.active = this.itemInFrom.active ? "on" : null;
                            this.itemInFrom.verified_required = this.itemInFrom.verified_required ? "on" : null;
                            this.itemInFrom.can_purchase = this.itemInFrom.can_purchase ? "on" : null;
                            this.itemInFrom.recommend = this.itemInFrom.recommend ? "on" : null;
                            this.loading = false;
                        });
                } else {
                    this.date = null;
                    this.endNull = false;
                    this.state = {
                        null_start_hot_deal: false,
                        null_end_hot_deal: false,
                        null_start_discount: false,
                        null_end_discount: false,
                    };
                    this.id = null;
                    this.loading = true;
                    this.imgUpload = null;
                    this.itemInFrom = {
                        active: 0,
                        verified_required: 0,
                        amount: null,
                        better_price: null,
                        can_purchase: 0,
                        category_id: 1,
                        description: null,
                        duration: null,
                        effects: {
                            bag_slot: 0,
                            radius_location: 0,
                            capacity: {
                                img: false,
                                value: 0
                            },
                            multiplier: {
                                img: false,
                                value: 1
                            },
                            durations: 0
                        },
                        ended_at: null,
                        expired_time: 0,
                        id: null,
                        image: null,
                        money_price: null,
                        name: null,
                        type: "flag",
                        hot_deal_discount:0,
                        start_hot_deal_at:null,
                        end_hot_deal_at:null,
                        discount:0,
                        start_discount_at:null,
                        end_discount_at:null,
                        recommend:0,

                    };
                    this.loading = false;
                }
            },
            getCategories() {
                Service.categories.get().then(res => {
                    this.categories = res.result.data;
                });
            },
            validateForm: function () {
                //check name
                if (
                    this.itemInFrom.name === null ||
                    this.itemInFrom.name === ""
                ) {
                    this.validate.name = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.name = false;
                    this.validate.pass = true;
                }
                //check description
                if (
                    this.itemInFrom.description === null ||
                    this.itemInFrom.description === ""
                ) {
                    this.validate.description = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.description = false;
                    this.validate.pass = true;
                }
                //check description
                if (
                    this.itemInFrom.description === null ||
                    this.itemInFrom.description === ""
                ) {
                    this.validate.description = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.description = false;
                    this.validate.pass = true;
                }
                return this.validate.pass;
            },
            imgToBase64() {
                var file = this.imgUpload;
                var reader = new FileReader();

                reader.readAsDataURL(file.target.files[0]);

                let _this = this;
                reader.onload = function () {
                    _this.itemInFrom.image = reader.result;
                };
                reader.onerror = function (error) {
                    console.log("Error: ", error);
                };
            },
            setNullTime() {
                if (this.endNull) {
                    this.itemInFrom.ended_at = null;
                }
                if (this.state.null_start_hot_deal) {
                    this.itemInFrom.start_hot_deal_at = null;
                }
                if (this.state.null_end_hot_deal) {
                    this.itemInFrom.end_hot_deal_at = null;
                }
                if (this.state.null_start_discount) {
                    this.itemInFrom.start_discount_at = null;
                }
                if (this.state.null_end_discount) {
                    this.itemInFrom.end_discount_at = null;
                }
            },
            timeStatus(state, val) {
                if (val) {
                    return state + ' is null.';
                } else {
                    return 'Set ' + state + ' to null.';
                }
            },
            checkTime() {
                if (this.itemInFrom.ended_at != null) {
                    this.endNull = false;
                }
                if (this.itemInFrom.start_hot_deal_at != null) {
                    this.state.null_start_hot_deal = false;
                }
                if (this.itemInFrom.end_hot_deal_at != null) {
                    this.state.null_end_hot_deal = false;
                }
                if (this.itemInFrom.start_discount_at != null) {
                    this.state.null_start_discount = false;
                }
                if (this.itemInFrom.end_discount_at != null) {
                    this.state.null_end_discount = false;
                }
            },
        }
    };
</script>
<style>
    .md-dialog {
        max-width: 768px;
    }

    .md-dialog {
        transform: translate(calc(-50% + 0.5px), calc(-50% + 0.5px));
    }
</style>
<style scoped>

    .item-image {
        width: 128px;
        height: 128px;
    }

    .loading-overlay {
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .padding-top {
        padding-top: 12px;
    }

    .md-dialog {
        width: 100%;
        transform: translate(calc(-50% + 0.5px), calc(-50% + 0.5px));
    }

    .my-input-class {
        background: dimgrey;
        border: 10px solid;
    }
</style>

<style lang="scss">
    @import '../../../node_modules/bootstrap/scss/bootstrap';
    /*You need a specific loader for CSS files*/
    @import '../../../node_modules/vue-datetime/dist/vue-datetime.css';
</style>
