<template>
    <div class="content">
        <div class="md-layout" v-if="loading === false">
            <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100">
                <md-card>
                    <md-card-header data-background-color="green">
                        <h4 class="title">History</h4>
                        <p class="category">{{ user.first_name }} Purchase histories.</p>
                    </md-card-header>
                    <md-card-content>
                        <div>
                            <md-table v-model="data" table-header-color="green">
                                <md-table-row slot="md-table-row" slot-scope="{ item }">
                                    <md-table-cell md-label="Coin">{{ item.coins }}</md-table-cell>
                                    <md-table-cell md-label="Steps">{{ item.steps }}</md-table-cell>
                                    <md-table-cell md-label="Date">{{ item.created_at.split(" ")[0] }}</md-table-cell>
                                </md-table-row>
                            </md-table>

                            <div class="md-alignment-center-center" v-if="paginate.total > 0">
                                <div class="md-layout-item md-size-100 text-center">
                                    <vue-ads-pagination
                                            :page="paginate.currentPage - 1"
                                            :itemsPerPage="paginate.perPage"
                                            :totalItems="paginate.total"
                                            :loading="pageLoading"
                                            @page-change="pageChange"
                                    />
                                </div>
                            </div>

                            <div class="loading-overlay" v-if="loading">
                                <md-progress-spinner md-mode="indeterminate" :md-stroke="2"></md-progress-spinner>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</template>

<script>
    import Service from "../../../services/index";
    import VueAdsPagination, {VueAdsPageButton} from 'vue-ads-pagination';

    export default {
        name: "StepsHistory",
        data() {
            return {
                loading: true,
                user_id: this.$route.params.user_id,
                user: null,
                result: null,
                data: null,
                paginate: {
                    currentPage: 1,
                    firstPageUrl: null,
                    from: null,
                    lastPage: null,
                    lastPageUrl: null,
                    nextPageUrl: null,
                    perPage: null,
                    path: null,
                    prevPageUrl: null,
                    to: null,
                    total: 0
                },
                pageLoading: false,
            };
        },
        components: {
            VueAdsPagination,
            VueAdsPageButton
        },
        beforeCreate() {
            this.user_id = this.$route.params.user_id;
            Service.users.history(this.user_id, 'steps').then(res => {
                this.usageData(res);
                this.loading = false;
                this.user = res.result.user_data
            });
        },
        methods: {
            usageData(res) {
                this.result = res.result;
                this.paginate = {
                    currentPage: this.result.current_page,
                    firstPageUrl: this.result.first_page_url,
                    from: this.result.from,
                    lastPage: this.result.last_page,
                    lastPageUrl: this.result.last_page_url,
                    nextPageUrl: this.result.next_page_url,
                    perPage: this.result.per_page,
                    path: this.result.path,
                    prevPageUrl: this.result.prev_page_url,
                    to: this.result.to,
                    total: this.result.total
                };
                this.data = this.result.data;
            },
            pageChange(page, start, end) {
                this.pageLoading = true;
                Service.users.historyByPage(this.user_id, 'steps', `${page + 1}`).then(res => {
                    this.usageData(res);
                    this.pageLoading = false;
                });
            }
        }
    };
</script>

<style scoped>

    .loading-overlay {
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<style lang="scss" scoped>
    .md-menu,
    .toggle {
        margin: 24px;
    }

    .author-card {
        padding: 8px 16px;
        display: flex;
        align-items: center;

        .md-avatar {
            margin-right: 16px;
        }

        .author-card-info {
            display: flex;
            flex-flow: column;
            flex: 1;
        }

        span {
            font-size: 16px;
        }

        .author-card-links {
            display: flex;

            a + a {
                margin-left: 8px;
            }
        }
    }
</style>
