.main-panel {
  .md-toolbar.md-transparent.md-theme-default {
    display: none;
  }
}

.md-menu-content {
  z-index: 11 !important;
}

.alert.open.alert-with-icon {
  position: fixed;
}

footer.footer {
  display: none;
}