<template>
    <div>
        <md-dialog :md-active="active"
                   @md-opened="getTypes"
                   @md-clicked-outside="closeDialog">
            <md-dialog-content>
                <md-dialog-title>Form</md-dialog-title>


                <md-field v-if="types === null">
                    <label for="types">types</label>
                    <md-select v-model="data.type_id" name="types" id="types" disabled/>
                    <md-tooltip md-direction="top">Types Not Found</md-tooltip>
                </md-field>
                <md-field v-else :class="{'md-invalid':validate.type_id}">
                    <label for="types">Type</label>
                    <md-select v-model="data.type_id" name="types" id="types">
                        <md-option v-for="type in types" :value="type.id" :key="type.id">
                            {{ type.name }}
                        </md-option>
                    </md-select>
                    <span class="md-error">Required Type</span>
                </md-field>

                <md-field class="dropdown" :class="{'md-invalid':validate.reward_set_id}">
                    <label for="q_reward_set_id">Reward Set</label>
                    <md-select v-model="data.reward_set_id" name="q_reward_set_id" id="q_reward_set_id">
                        <md-option v-for="reward in rewardOption" :value="reward">{{reward}}</md-option>
                    </md-select>
                    <span class="md-error">Required Reward Set</span>
                </md-field>

                <md-field :class="{'md-invalid':validate.name}">
                    <label>Name</label>
                    <md-input v-model="data.name"></md-input>
                    <span class="md-error">Required Name</span>
                </md-field>

                <md-field :class="{'md-invalid':validate.details}">
                    <label>Details</label>
                    <md-textarea v-model="data.details"></md-textarea>
                    <span class="md-error">Required Details</span>
                </md-field>

                <md-field :class="{'md-invalid':validate.target}">
                    <label>Target</label>
                    <md-input v-model="data.target" type="number"></md-input>
                    <span class="md-error">Required Target</span>
                </md-field>

                <md-field :class="{'md-invalid':validate.level}">
                    <label>Level</label>
                    <md-input v-model="data.level" type="number"></md-input>
                    <span class="md-error">Required Level</span>
                </md-field>

                <md-dialog-actions>
                    <md-button class="md-primary" @click="closeDialog">Close</md-button>
                    <md-button class="md-primary" @click="saveForm">Save</md-button>
                </md-dialog-actions>
            </md-dialog-content>
        </md-dialog>
    </div>
</template>

<script>
    import Service from "../../services/index";

    export default {
        name: "FormAchieve",
        props: ["active", "id", "total", "page", "reloadData", "reloadDataByPage"],
        data() {
            return {
                value: null,
                single: null,
                initial: null,
                rewardOption: [],
                data: {
                    reward_set_id: null,
                    type_id: null,
                    name: null,
                    details: null,
                    target: null,
                    level: null
                },
                imgUpload: null,
                validate: {
                    pass: true,
                    name: false,
                    details: false
                },
                types: null
            };
        },
        methods: {
            closeDialog() {
                this.$emit("update:active", false);
            },
            setDefaultData() {
                Service.rewardSets
                    .selectOption()
                    .then(res => {
                        this.rewardOption = res;
                    }).then(() => {
                    if (this.id != null) {
                        Service.achievements.show(this.id).then(res => {
                            this.data = res.result;
                        });
                    } else {
                        this.data.id = null;
                        this.data.reward_set_id = null;
                        this.data.type_id = null;
                        this.data.name = null;
                        this.data.details = null;
                        this.data.target = null;
                        this.data.level = null;
                    }
                });
            },
            validateForm: function () {
                //check name
                if (this.data.name === null || this.data.name === "") {
                    this.validate.name = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.name = false;
                    this.validate.pass = true;
                }
                if (this.data.reward_set_id === null || this.data.reward_set_id === "") {
                    this.validate.reward_set_id = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.reward_set_id = false;
                    this.validate.pass = true;
                }
                if (this.data.type_id === null || this.data.type_id === "") {
                    this.validate.type_id = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.type_id = false;
                    this.validate.pass = true;
                }
                if (this.data.details === null || this.data.details === "") {
                    this.validate.details = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.details = false;
                    this.validate.pass = true;
                }
                if (this.data.target === null || this.data.target === "") {
                    this.validate.target = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.target = false;
                    this.validate.pass = true;
                }
                if (this.data.level === null || this.data.level === "") {
                    this.validate.level = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.level = false;
                    this.validate.pass = true;
                }
                return this.validate.pass;
            },
            saveForm() {
                if (!this.validateForm()) {
                    return;
                }
                if (this.id != null) {
                    Service.achievements
                        .put(this.id, this.data)
                        .then(res => {
                            this.reload();
                            this.closeDialog();
                            this.notifyVue(`Update <strong>${res.status}</strong>`, `success`);
                        })
                        .catch(err => {
                            this.closeDialog();
                            this.notifyVue(
                                `Update <strong> Fail</strong> ${err.message}.`,
                                `danger`
                            );
                        });
                } else {
                    Service.achievements
                        .post(this.data)
                        .then(res => {
                            this.reload();
                            this.closeDialog();
                            this.notifyVue(`Create <strong>${res.status}</strong>`, `success`);
                        })
                        .catch(err => {
                            this.closeDialog();
                            this.notifyVue(
                                `Create <strong> Fail</strong> ${err.message}.`,
                                `danger`
                            );
                        });
                }
            },
            notifyVue(message, type) {
                this.$notify({
                    message: message,
                    icon: "add_alert",
                    horizontalAlign: "right",
                    verticalAlign: "top",
                    type: type
                });
            },
            reload() {
                if (this.total - 1 > 15) {
                    this.reloadDataByPage();
                } else {
                    this.reloadData();
                }
            },
            getTypes() {
                Service.achievementTypes.get().then(res => {
                    if (res.result.total > 0) {
                        this.types = res.result.data;
                    }
                    this.setDefaultData();
                });
            }
        }
    };
</script>

<style scoped>
    .md-dialog {
        width: 90%;
        transform: translate(calc(-50% + 0.5px), calc(-50% + 0.5px));
    }
</style>
