<template>
    <div class="content">
        <div class="md-layout">
            <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100">
                <md-card>
                    <md-card-header data-background-color="green">
                        <h4 class="title">Achievements</h4>
                        <p class="category">All achievements in system.</p>
                    </md-card-header>
                    <md-card-content>
                        <table-achieve table-header-color="green"></table-achieve>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</template>

<script>
import TableAchieve from "../Achievements/Table";

export default {
  name: "Index",
  components: {
    TableAchieve
  }
};
</script>

<style scoped>
</style>
