<template>
    <div class="content">
        <div class="md-layout">
            <md-card>
                <md-card-header data-background-color="green">
                    <h4 class="title">Donation Form</h4>
                    <p class="category">Donation information.</p>
                </md-card-header>
                <md-card-content>

                    <div class="md-layout-item md-small-size-100 md-size-100">
                        <md-field :class="{'md-invalid':validate.title1}">
                            <label>Title 1</label>
                            <md-input v-model="data.title1"></md-input>
                            <span class="md-error">Required Title 1</span>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-small-size-100 md-size-100">
                        <md-field :class="{'md-invalid':validate.title2}">
                            <label>Title 2</label>
                            <md-input v-model="data.title2"></md-input>
                            <span class="md-error">Required Title 2</span>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-small-size-100 md-size-70">
                        <md-field :class="{'md-invalid':validate.image}">
                            <label>Only PNG images (logo)</label>
                            <md-file @md-change="imgToBase64"
                                     v-model="imgUpload"
                                     accept="image/png"/>
                            <span class="md-error">Required Image</span>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-small-size-100 md-size-70">
                        <md-field :class="{'md-invalid':validate.image_cover}">
                            <label>Only PNG images (cover)</label>
                            <md-file @md-change="imgToBase64V2"
                                     v-model="imgUpload2"
                                     accept="image/png"/>
                            <span class="md-error">Required Image Cover</span>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-small-size-100 md-size-70">
                        <md-field :class="{'md-invalid':validate.description}">
                            <label>Description</label>
                            <md-textarea v-model="data.description"></md-textarea>
                            <span class="md-error">Required Description</span>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-small-size-100 md-size-100">
                        <md-field :class="{'md-invalid':validate.location}">
                            <label>Location(lat,lng)</label>
                            <md-input v-model="data.location"></md-input>
                            <span class="md-error">Required Location</span>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-small-size-100 md-size-100">
                        <md-field :class="{'md-invalid':validate.target}">
                            <label>Target</label>
                            <md-input v-model="data.target" type="number"></md-input>
                            <span class="md-error">Required Target</span>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-small-size-100 md-size-100">
                        <md-field :class="{'md-invalid':validate.max_donated}">
                            <label>Max Donated</label>
                            <md-input v-model="data.max_donated" type="number"></md-input>
                            <span class="md-error">Required Max Donated</span>
                        </md-field>
                    </div>

                    <md-datepicker v-model="data.started_at" md-immediately>
                        <label>Started At</label>
                    </md-datepicker>

                    <md-datepicker v-model="data.ended_at" md-immediately>
                        <label>Ended At</label>
                    </md-datepicker>

                    <div class="md-layout-item md-small-size-100 md-size-70">
                        <md-switch v-model="data.active" class="md-primary"> active {{data.active}}</md-switch>
                    </div>

                    <md-button class="md-success" @click="saveForm">Save</md-button>

                </md-card-content>
            </md-card>
        </div>
    </div>
</template>

<script>
    import Vue from "vue";
    import Service from "../../services/index";
    import Notifications from "../../components/NotificationPlugin";

    Vue.use(Notifications);

    export default {
        name: "DonationForm",
        data() {
            return {
                id: this.$route.params.id,
                value: null,
                single: null,
                initial: null,
                data: {
                    title1: null,
                    title2: null,
                    image: null,
                    image_cover: null,
                    location: null,
                    started_at: null,
                    ended_at: null,
                    active: true,
                    description: null,
                    max_donated: null
                },
                imgUpload: null,
                imgUpload2: null,
                validate: {
                    pass: false,
                    title1: null,
                    title2: null,
                    image: null,
                    image_cover: null,
                    location: null,
                    started_at: true,
                    ended_at: true,
                    active: null,
                    description: null,
                    max_donated: null
                }
            };
        },
        created() {
            this.setDefaultData();
        },
        methods: {
            setDefaultData() {
                if (this.id != null) {
                    Service.donations
                        .show(this.id)
                        .then(res => {
                            this.data = res.result;
                            if (this.data.active) {
                                this.data.active = true;
                            } else {
                                this.data.active = false;
                            }
                        })
                        .then(() => {
                            this.data.image = null;
                            this.data.image_cover = null;
                        });
                } else {
                    this.data.id = null;
                    this.data.title1 = null;
                    this.data.title2 = null;
                    this.data.image = null;
                    this.data.image_cover = null;
                    this.data.location = null;
                    this.data.started_at = null;
                    this.data.ended_at = null;
                    this.data.active = false;
                    this.data.description = null;
                    this.data.max_donated = null;
                }
            },
            validateForm() {
                //check name
                if (this.data.title1 === null || this.data.title1 === "") {
                    this.validate.title1 = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.title1 = false;
                    this.validate.pass = true;
                }
                if (this.data.title2 === null || this.data.title2 === "") {
                    this.validate.title2 = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.title2 = false;
                    this.validate.pass = true;
                }
                if (
                    this.id === null &&
                    (this.data.imgUpload === null || typeof this.imgUpload === "object")
                ) {
                    this.validate.image = true;
                    this.validate.pass = false;
                    this.data.image = null;
                    return this.validate.pass;
                } else {
                    this.validate.image = false;
                    this.validate.pass = true;
                }
                if (
                    this.id === null &&
                    (this.data.imgUpload2 === null || typeof this.imgUpload2 === "object")
                ) {
                    this.validate.image_cover = true;
                    this.validate.pass = false;
                    this.data.image_cover = null;
                    return this.validate.pass;
                } else {
                    this.validate.image_cover = false;
                    this.validate.pass = true;
                }
                if (this.data.description === null || this.data.description === "") {
                    this.validate.description = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.description = false;
                    this.validate.pass = true;
                }
                if (this.data.location === null || this.data.location === "") {
                    this.validate.location = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.location = false;
                    this.validate.pass = true;
                }
                if (this.data.target === null || this.data.target === "") {
                    this.validate.target = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.target = false;
                    this.validate.pass = true;
                }
                if (this.data.max_donated === null || this.data.max_donated === "") {
                    this.validate.max_donated = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.max_donated = false;
                    this.validate.pass = true;
                }
                if (this.data.started_at === null || this.data.started_at === "") {
                    this.validate.started_at = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.started_at = false;
                    this.validate.pass = true;
                }
                if (this.data.ended_at === null || this.data.ended_at === "") {
                    this.validate.ended_at = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.ended_at = false;
                    this.validate.pass = true;
                }
                return this.validate.pass;
            },
            imgToBase64() {
                var file = this.imgUpload;
                var reader = new FileReader();

                reader.readAsDataURL(file.target.files[0]);

                let _this = this;
                reader.onload = function () {
                    _this.data.image = reader.result;
                };
                reader.onerror = function (error) {
                    console.log("Error: ", error);
                };
            },
            imgToBase64V2() {
                var file = this.imgUpload2;
                var reader = new FileReader();

                reader.readAsDataURL(file.target.files[0]);

                let _this = this;
                reader.onload = function () {
                    _this.data.image_cover = reader.result;
                };
                reader.onerror = function (error) {
                    console.log("Error: ", error);
                };
            },
            saveForm() {
                if (!this.validateForm()) {
                    return;
                }
                if (this.id != null) {
                    Service.donations
                        .put(this.id, this.data)
                        .then(res => {
                            this.notifyVue(`Update <strong>${res.status}</strong>`, `success`);
                        })
                        .catch(err => {
                            this.notifyVue(
                                `Update <strong> Fail</strong> ${err.message}.`,
                                `danger`
                            );
                        });
                } else {
                    Service.donations
                        .post(this.data)
                        .then(res => {
                            this.notifyVue(`Create <strong>${res.status}</strong>`, `success`);
                        })
                        .catch(err => {
                            this.notifyVue(
                                `Create <strong> Fail</strong> ${err.message}.`,
                                `danger`
                            );
                        });
                }
            },
            notifyVue(message, type) {
                this.$notify({
                    message: message,
                    icon: "add_alert",
                    horizontalAlign: "right",
                    verticalAlign: "top",
                    type: type
                });
            }
        }
    };
</script>

<style scoped>
</style>
