<template>
    <div class="content">
        <div class="md-layout">
            <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100">
                <md-card>
                    <md-card-header data-background-color="green">
                        <h4 class="title">Donations</h4>
                        <p class="category">All donations in system.</p>
                    </md-card-header>
                    <md-card-content>

                        <div class="md-layout md-gutter md-alignment-center-right">
                            <div class="md-layout-item md-size-25">
                                <router-link :to="{ name: 'DonationForm', params: {id: null } }">
                                    <md-button class="md-success md-just-icon">
                                        <md-icon>add</md-icon>
                                        <md-tooltip md-direction="top">Add</md-tooltip>
                                    </md-button>
                                </router-link>
                            </div>
                        </div>

                        <div v-if="data != null">
                            <md-table v-model="data" table-header-color="green">
                                <md-table-row slot="md-table-row" slot-scope="{ item }">
                                    <md-table-cell>
                                        <router-link :to="{ name: 'DonationForm', params: {id: item.id } }">
                                            <md-button class="md-just-icon md-simple md-primary">
                                                <md-icon>edit</md-icon>
                                                <md-tooltip md-direction="top">Edit</md-tooltip>
                                            </md-button>
                                        </router-link>
                                        <md-button class="md-just-icon md-simple md-danger"
                                                   @click="openConfirmModal(item)">
                                            <md-icon>close</md-icon>
                                            <md-tooltip md-direction="top">Delete</md-tooltip>
                                        </md-button>
                                    </md-table-cell>
                                    <md-table-cell md-label="Title">{{ item.title1 }}</md-table-cell>
                                    <md-table-cell md-label="Title2">{{ item.title2 }}</md-table-cell>
                                    <md-table-cell md-label="Image">
                                        <img :src="item.image" alt="Avatar" style="width: 50px; height: 50px">
                                    </md-table-cell>
                                    <md-table-cell md-label="Image Cover">
                                        <img :src="item.image_cover" alt="Avatar" style="width: 50px; height: 50px">
                                    </md-table-cell>
                                    <md-table-cell md-label="Location">{{ item.location }}</md-table-cell>
                                    <md-table-cell md-label="Received Donated">{{ item.received_donated }}</md-table-cell>
                                    <md-table-cell md-label="Received Better">{{ item.received_better }}</md-table-cell>
                                    <md-table-cell md-label="Max Donated">{{ item.max_donated }}</md-table-cell>
                                    <md-table-cell md-label="Active">
                                        <md-chip class="md-primary" v-if="item.active">
                                            active
                                        </md-chip>
                                        <md-chip class="active" v-else>
                                            inactive
                                        </md-chip>
                                    </md-table-cell>
                                    <md-table-cell md-label="Start At">{{ item.started_at }}</md-table-cell>
                                    <md-table-cell md-label="End At">{{ item.ended_at }}</md-table-cell>
                                </md-table-row>
                            </md-table>

                            <div class="md-alignment-center-center" v-if="paginate.total > 0">
                                <div class="md-layout-item md-size-100 text-center">
                                    <vue-ads-pagination
                                            :page="paginate.currentPage - 1"
                                            :itemsPerPage="paginate.perPage"
                                            :totalItems="paginate.total"
                                            :loading="pageLoading"
                                            @page-change="pageChange"
                                    />
                                </div>
                            </div>

                            <md-dialog-confirm
                                    :md-active.sync="confirmModal"
                                    md-title="Confirm Delete"
                                    :md-content="confirmModalContent"
                                    @md-cancel="onCancel"
                                    @md-confirm="onConfirm"/>
                        </div>

                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from "vue";
import Service from "../../services/index";
import VueAdsPagination from "vue-ads-pagination";
import { VueAdsPageButton } from "vue-ads-pagination";
import Notifications from "../../components/NotificationPlugin";

Vue.use(Notifications);

export default {
  name: "Index",
  components: {
    VueAdsPagination,
    VueAdsPageButton
  },
  data() {
    return {
      id: null,
      result: null,
      data: null,
      deleteRow: null,
      confirmModal: false,
      paginate: {
        currentPage: 1,
        firstPageUrl: null,
        from: null,
        lastPage: null,
        lastPageUrl: null,
        nextPageUrl: null,
        perPage: null,
        path: null,
        prevPageUrl: null,
        to: null,
        total: 0
      },
      showFormDialog: false,
      confirmModalContent: "Are you sure you want to delete this item?",
      pageLoading: false
    };
  },
  computed: {},
  beforeCreate() {
    Service.donations.get().then(res => {
      this.result = res.result;
      if (this.result.total > 0) {
        this.paginate = {
          currentPage: this.result.current_page,
          firstPageUrl: this.result.first_page_url,
          from: this.result.from,
          lastPage: this.result.last_page,
          lastPageUrl: this.result.last_page_url,
          nextPageUrl: this.result.next_page_url,
          perPage: this.result.per_page,
          path: this.result.path,
          prevPageUrl: this.result.prev_page_url,
          to: this.result.to,
          total: this.result.total
        };
      }
      this.data = this.result.data;
    });
  },
  methods: {
    initData() {
      Service.donations.get().then(res => {
        this.usageData(res);
      });
    },
    initDataByPage() {
      Service.donations.getByPage(this.result.current_page).then(res => {
        this.usageData(res);
      });
    },
    usageData(res) {
      this.result = res.result;
      if (this.result.total > 0) {
        this.paginate = {
          currentPage: this.result.current_page,
          firstPageUrl: this.result.first_page_url,
          from: this.result.from,
          lastPage: this.result.last_page,
          lastPageUrl: this.result.last_page_url,
          nextPageUrl: this.result.next_page_url,
          perPage: this.result.per_page,
          path: this.result.path,
          prevPageUrl: this.result.prev_page_url,
          to: this.result.to,
          total: this.result.total
        };
      }
      this.data = this.result.data;
    },
    openConfirmModal(item) {
      this.confirmModalContent = `Are you sure you want to delete <strong>${
        item.title1
      }</strong> ?`;
      this.deleteRow = item;
      this.confirmModal = true;
    },
    onConfirm() {
      Service.donations
        .delete(this.deleteRow.id)
        .then(() => {
          this.notifyVue(
            `Item <strong>${this.deleteRow.title1}</strong> Deleted`,
            `success`
          );
        })
        .then(() => {
          if (this.paginate.total - 1 > 15) {
            this.initDataByPage();
          } else {
            this.initData();
          }
        });
    },
    onCancel() {
      this.deleteRow = null;
    },
    pageChange(page, start, end) {
      this.pageLoading = true;
      Service.donations.getByPage(`${page + 1}`).then(res => {
        this.usageData(res);
        this.pageLoading = false;
      });
    },
    notifyVue(message, type) {
      this.$notify({
        message: message,
        icon: "add_alert",
        horizontalAlign: "right",
        verticalAlign: "top",
        type: type
      });
    }
  }
};
</script>

<style scoped>
</style>
