<template>
    <div>
        <md-dialog :md-active="active"
                   @md-opened="setDefaultData"
                   @md-clicked-outside="closeDialog">
            <md-dialog-content>

                <md-dialog-title>Form</md-dialog-title>
                <div class="md-layout">
                    <div class="md-layout-item">
                        <md-field>
                            <label for="name">Name</label>
                            <md-input v-model="data.name" name="name" id="name"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item">
                        <md-field class="dropdown">
                            <label for="q_reward_set_id">Reward Set</label>
                            <md-select v-model="data.reward_set_id" name="q_reward_set_id" id="q_reward_set_id">
                                <md-option v-for="reward in rewardOption" :value="reward">{{reward}}</md-option>
                            </md-select>
                        </md-field>
                    </div>
                    <div class="md-layout-item">
                        <md-field>
                            <label for="points">Points</label>
                            <md-input v-model="data.points" name="points"
                                      id="points" type="number"></md-input>
                        </md-field>
                    </div>
                </div>

                <div class="md-layout">
                    <div class="md-layout-item">
                        <md-field>
                            <label>Description</label>
                            <md-textarea v-model="data.description"></md-textarea>
                        </md-field>
                    </div>
                </div>

                <div class="md-layout">
                    <div class="md-layout-item">
                        <md-field>
                            <label for="type">Action</label>
                            <md-select v-model="data.action" name="type" id="type">
                                <md-option v-for="(action,type) in actions" :value="type">{{ action }}</md-option>
                            </md-select>
                        </md-field>
                    </div>
                    <div class="md-layout-item">
                        <md-field :class="{'md-invalid':validate.target}">
                            <label for="date">Target</label>
                            <md-input v-model="data.target" name="date" id="date"></md-input>
                            <span class="md-error">Required Target</span>
                        </md-field>
                    </div>
                    <div class="md-layout-item">
                        <md-field>
                            <label>Only PNG images</label>
                            <md-file @md-change="imgToBase64"
                                     v-model="imgUpload"
                                     accept="image/png"/>
                        </md-field>
                    </div>
                </div>

                <div class="md-layout">
                    <div class="md-layout-item md-size-20 md-medium-size-50 padding-top">
                        <div class="card">
                            <datetime v-model="data.started_at"
                                      type="datetime"
                                      placeholder="Started At"
                                      @close="checkTime"/>
                        </div>
                    </div>
                    <div class="md-layout-item md-size-30 md-medium-size-50">
                        <md-checkbox v-model="startNull"
                                     @change="setNullTime">
                            {{ timeStatus('Started at', startNull) }}
                        </md-checkbox>
                    </div>

                    <div class="md-layout-item md-size-20 md-medium-size-50 padding-top">
                        <div class="card">
                            <datetime v-model="data.ended_at"
                                      type="datetime"
                                      :min-datetime="data.started_at"
                                      placeholder="Ended At"
                                      @close="checkTime"/>
                        </div>
                    </div>
                    <div class="md-layout-item md-size-30 md-medium-size-50">
                        <md-checkbox v-model="endNull"
                                     @change="setNullTime">
                            {{ timeStatus('Ended at', endNull) }}
                        </md-checkbox>
                    </div>
                </div>

                <div class="md-layout">
                    <div class="md-layout-item md-size-50">
                        <md-switch v-model="data.used" class="md-primary">{{ status }}</md-switch>
                    </div>
                </div>

                <md-dialog-actions>
                    <md-button class="md-primary" @click="closeDialog">Close</md-button>
                    <md-button class="md-primary" @click="saveForm">Save</md-button>
                </md-dialog-actions>
            </md-dialog-content>
        </md-dialog>
    </div>
</template>

<script>
    import Vue from 'vue';
    import Datetime from 'vue-datetime';
    import Service from "../../services/index";

    Vue.use(Datetime);

    export default {
        name: "FormDailyQuest",
        props: ["active", "id", "total", "page", "reloadData", "reloadDataByPage"],
        data() {
            return {
                date: null,
                startNull: false,
                endNull: false,
                rewardOption: [],
                actions: {
                    get_item: 'ได้รับไอเท็ม',
                    use_item: 'ใช้ไอเท็ม',
                    get_step: 'วิ่งครบจำนวนก้าว'
                },
                value: null,
                single: null,
                initial: null,
                data: {
                    used: null
                },
                imgUpload: null,
                validate: {
                    pass: true,
                    action: false,
                    target: false
                }
            };
        },
        components: {},
        computed: {
            status() {
                if (
                    this.data.used ||
                    this.data.used === "on" ||
                    this.data.used === 1
                ) {
                    this.data.used = "on";
                    return 'used';
                } else {
                    this.data.used = null;
                    return 'unused';
                }

            }
        },
        methods: {
            closeDialog() {
                this.$emit("update:active", false);
            },
            setDefaultData() {
                Service.rewardSets
                    .selectOption()
                    .then(res => {
                        this.rewardOption = res;
                    }).then(() => {
                    if (this.id != null) {
                        Service.dailyQuests
                            .show(this.id)
                            .then(res => {
                                this.data = res.result;
                            })
                            .then(() => {
                                this.data.image = null;
                            });
                    } else {
                        this.data.id = null;
                        this.data.name = null;
                        this.data.description = null;
                        this.data.reward_set_id = null;
                        this.data.used = null;
                        this.data.action = null;
                        this.data.target = null;
                        this.data.started_at = null;
                        this.data.ended_at = null;
                        this.data.image = null;
                        this.data.points = null;
                    }
                });
                this.startNull = false;
                this.endNull = false;
            },
            validateForm: function () {
                //check image
                if (this.target === null) {
                    this.validate.target = true;
                    this.validate.pass = false;
                } else {
                    this.validate.target = false;
                    this.validate.pass = true;
                }
                return this.validate.pass;
            },
            saveForm() {
                if (!this.validateForm()) {
                    return;
                }
                if (this.id != null) {
                    Service.dailyQuests
                        .put(this.id, this.data)
                        .then(res => {
                            this.reload();
                            this.closeDialog();
                            this.notifyVue(`Update <strong>quest</strong>`, `success`);
                        })
                        .catch(err => {
                            this.closeDialog();
                            this.notifyVue(
                                `Update <strong> Fail</strong> ${err.message}.`,
                                `danger`
                            );
                        });
                } else {
                    Service.dailyQuests
                        .post(this.data)
                        .then(res => {
                            this.reload();
                            this.closeDialog();
                            this.notifyVue(`Create <strong>quest</strong>`, `success`);
                        })
                        .catch(err => {
                            this.closeDialog();
                            this.notifyVue(
                                `Create <strong> Fail</strong> ${err.message}.`,
                                `danger`
                            );
                        });
                }
            },
            imgToBase64() {
                let file = this.imgUpload;
                let reader = new FileReader();

                reader.readAsDataURL(file.target.files[0]);

                let _this = this;
                reader.onload = function () {
                    _this.data.image = reader.result;
                };
                reader.onerror = function (error) {
                    console.log("Error: ", error);
                };
            },
            notifyVue(message, type) {
                this.$notify({
                    message: message,
                    icon: "add_alert",
                    horizontalAlign: "right",
                    verticalAlign: "top",
                    type: type
                });
            },
            reload() {
                if (this.total - 1 > 15) {
                    this.reloadDataByPage();
                } else {
                    this.reloadData();
                }
            },
            setNullTime() {
                if (this.startNull) {
                    this.data.started_at = null;
                }
                if (this.endNull) {
                    this.data.ended_at = null;
                }
            },
            timeStatus(state, val) {
                if (val) {
                    return state + ' is null.';
                } else {
                    return 'Set ' + state + ' to null.';
                }
            },
            checkTime() {
                if (this.data.started_at != null) {
                    this.startNull = false;
                }
                if (this.data.ended_at != null) {
                    this.endNull = false;
                }
            },
        }
    };
</script>

<style scoped>
    .padding-top {
        padding-top: 12px;
    }

    .md-dialog {
        width: 100%;
        transform: translate(calc(-50% + 0.5px), calc(-50% + 0.5px));
    }

    .my-input-class {
        background: dimgrey;
        border: 10px solid;
    }
</style>
<style lang="scss">
    @import '../../../node_modules/bootstrap/scss/bootstrap';
    /*You need a specific loader for CSS files*/
    @import '../../../node_modules/vue-datetime/dist/vue-datetime.css';
</style>
