<template>
    <div>
        <div class="content">
            <div class="md-layout">
                <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100">
                    <md-card>
                        <md-card-header data-background-color="green">
                            <h4 class="title">Daily Quests</h4>
                            <p class="category">All daily quests in system.</p>
                        </md-card-header>
                        <md-card-content>
                            <daily-quest-table></daily-quest-table>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import DailyQuestTable from "./Table"

    export default {
        name: "Index",
        components:{
            DailyQuestTable
        }
    }
</script>

<style scoped>

</style>