<template>
    <!--<div class="md-layout md-gutter md-alignment-center-center">-->
            <!--<div class="md-layout-item md-size-50">-->
                <!--<h1>404</h1>-->
                <!--<h2 class="my-3 headline ">Sorry, page not found</h2>-->
                <!--<div>-->
                    <!--<md-button color="primary" @click="goHome">Go Home</md-button>-->
                <!--</div>-->
            <!--</div>-->
    <!--</div>-->
    <div class="md-layout md-gutter md-alignment-center-center">
        <div class="md-layout-item md-size-25">
            <!--<span>Lorem ipsum dolor sit amet.</span>-->
        </div>

        <div class="md-layout-item md-size-50 text-center">
            <h1>404</h1>
            <h2 class="my-3 headline ">Sorry, page not found</h2>
            <div>
                <md-button color="primary" @click="goHome">Go Home</md-button>
            </div>
        </div>

        <div class="md-layout-item md-size-25">
            <!--<span>Excepturi natus dolorem maxime.</span>-->
        </div>
    </div>
</template>

<script>
    export default {
        methods: {
            goHome() {
                this.$router.push({path: '/'});
            }
        }
    };
</script>
<style scoped lang="css">
    h1 {
        font-size: 150px;
        line-height: 150px;
        font-weight: 700;
        color: #252932;
        text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px, rgba(61, 61, 61, 0.3) 3px 3px;
    }
</style>
