<template>
    <div class="md-layout md-gutter md-alignment-center-center">
        <div class="md-layout-item md-size-25">
            <!--<span>Lorem ipsum dolor sit amet.</span>-->
        </div>

        <div class="md-layout-item md-size-50 text-center">
            <h1>{{ hostname }}</h1>
            <h2 class="my-3 headline ">Sorry, we are down for maintenance</h2>
            <p>We should be back shortly, Thanks for your patience</p>
            <div>
                <md-button color="primary" @click="goHome">Go Home</md-button>
            </div>
        </div>

        <div class="md-layout-item md-size-25">
            <!--<span>Excepturi natus dolorem maxime.</span>-->
        </div>
    </div>
</template>

<script>
    export default {
        name: "Maintenance",
        data(){
            return {
                hostname : window.location.hostname
            }
        },
        methods: {
            goHome() {
                this.$router.push({path: '/'});
            }
        }
    }
</script>

<style scoped>

</style>