<template>
    <div>
        <md-dialog :md-active="active"
                   @md-opened="setDefaultData"
                   @md-clicked-outside="closeDialog">
            <md-dialog-content>
                <md-dialog-title>Form</md-dialog-title>
                <md-field :class="{'md-invalid':validate.day}">
                    <label>Day</label>
                    <md-input v-model="data.day"></md-input>
                    <span class="md-error">Required Day</span>
                </md-field>
                <md-field :class="{'md-invalid':validate.image}">
                    <label>Images</label>
                    <md-file @md-change="imgToBase64"
                             v-model="imgUpload"
                             accept="image/png"/>
                    <span class="md-error">Required Image</span>
                </md-field>
                <md-field :class="{'md-invalid':validate.image_pass}">
                    <label>Images Pass</label>
                    <md-file @md-change="imgPassToBase64"
                             v-model="imgPassUpload"
                             accept="image/png"/>
                    <span class="md-error">Required Image Pass</span>
                </md-field>
                <md-field class="dropdown" :class="{'md-invalid':validate.reward_set}">
                    <label for="q_reward_set_id">Reward Set</label>
                    <md-select v-model="data.reward_set_id" name="q_reward_set_id" id="q_reward_set_id">
                        <md-option v-for="reward in rewardOption" :value="reward">{{reward}}</md-option>
                    </md-select>
                    <span class="md-error">Required Reward Set</span>
                </md-field>
                <md-dialog-actions>
                    <md-button class="md-primary" @click="closeDialog">Close</md-button>
                    <md-button class="md-primary" @click="saveForm">Save</md-button>
                </md-dialog-actions>
            </md-dialog-content>
        </md-dialog>
    </div>
</template>

<script>
    import Service from "../../services/index";

    export default {
        name: "FormDayQuest",
        props: ["active", "id", "main_quest_id", "reloadData"],
        data() {
            return {
                rewardOption: [],
                data: {
                    day: null,
                    image: null,
                    image_pass: null,
                    reward_set_id: null
                },
                imgUpload: null,
                imgPassUpload: null,
                validate: {
                    pass: true,
                    day: false,
                    image: false,
                    image_pass: false,
                    reward_set: false
                }
            };
        },
        methods: {
            closeDialog() {
                this.$emit("update:active", false);
            },
            setDefaultData() {
                Service.rewardSets
                    .selectOption()
                    .then(res => {
                        this.rewardOption = res;
                    }).then(() => {
                    if (this.id != null) {
                        Service.loginQuests
                            .showDayQuest(this.id)
                            .then(res => {
                                this.data = res.result;
                            })
                            .then(() => {
                                this.data.image = null;
                                this.imgUpload = null;
                                this.data.image_pass = null;
                                this.imgPassUpload = null;
                            });
                    } else {
                        this.data.quest_id = this.main_quest_id;
                        this.data.id = null;
                        this.data.day = null;
                        this.data.image = null;
                        this.imgUpload = null;
                        this.data.image_pass = null;
                        this.imgPassUpload = null;
                        this.data.reward_set_id = null;
                    }
                })
                    .catch(err => {
                        this.notifyVue(
                            `Create <strong> Fail</strong> ${err.message}.`,
                            `danger`
                        );
                        this.closeDialog();
                    });
            },
            validateForm: function () {
                //check name
                if (this.data.day === null || this.data.day === "") {
                    this.validate.day = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.day = false;
                    this.validate.pass = true;
                }
                //check image
                if (this.id == null) {
                    if (this.imgUpload === null || typeof this.imgUpload === "object") {
                        this.validate.image = true;
                        this.validate.pass = false;
                        this.data.image = null;
                        return this.validate.pass;
                    } else {
                        this.validate.image = false;
                        this.validate.pass = true;
                    }
                    //check image pass
                    if (this.imgPassUpload === null || typeof this.imgPassUpload === "object") {
                        this.validate.image_pass = true;
                        this.validate.pass = false;
                        this.data.image_pass = null;
                        return this.validate.pass;
                    } else {
                        this.validate.image_pass = false;
                        this.validate.pass = true;
                    }
                }
                if (this.data.reward_set_id === null || this.data.reward_set_id === "") {
                    this.validate.reward_set = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.reward_set = false;
                    this.validate.pass = true;
                }
                return this.validate.pass;
            },
            imgToBase64() {
                var file = this.imgUpload;
                var reader = new FileReader();

                reader.readAsDataURL(file.target.files[0]);

                let _this = this;
                reader.onload = function () {
                    _this.data.image = reader.result;
                };
                reader.onerror = function (error) {
                    console.log("Error: ", error);
                };
            },
            imgPassToBase64() {
                var file = this.imgPassUpload;
                var reader = new FileReader();

                reader.readAsDataURL(file.target.files[0]);

                let _this = this;
                reader.onload = function () {
                    _this.data.image_pass = reader.result;
                };
                reader.onerror = function (error) {
                    console.log("Error: ", error);
                };
            },
            saveForm() {
                if (!this.validateForm()) {
                    return;
                }
                if (this.id != null) {
                    Service.loginQuests
                        .putDayQuest(this.id, this.data)
                        .then(res => {
                            this.saveSuccess(res);
                        })
                        .catch(err => {
                            this.closeDialog();
                            this.notifyVue(
                                `Update <strong> Fail</strong> ${err.message}.`,
                                `danger`
                            );
                        });
                } else {
                    Service.loginQuests
                        .postDayQuest(this.data)
                        .then(res => {
                            this.saveSuccess(res);
                        })
                        .catch(err => {
                            this.closeDialog();
                            this.notifyVue(
                                `Create <strong> Fail</strong> ${err.message}.`,
                                `danger`
                            );
                        });
                }
            },
            saveSuccess(res) {
                this.reloadData();
                this.closeDialog();
                this.notifyVue(`Create <strong>${res.status}</strong>`, `success`);
            },
            notifyVue(message, type) {
                this.$notify({
                    message: message,
                    icon: "add_alert",
                    horizontalAlign: "right",
                    verticalAlign: "top",
                    type: type
                });
            },
        }
    };
</script>

<style scoped>
</style>
