<template>
    <div class="content">
        <md-card>
            <md-card-header>
                <div class="md-title">Login Quest Information</div>
            </md-card-header>
            <md-card-content>
                <div class="md-layout">
                    <div class="md-layout-item">
                        <md-field :class="{'md-invalid':validate.name}">
                            <label>Name</label>
                            <md-input v-model="data.name"></md-input>
                            <span class="md-error">Required Quest Name</span>
                        </md-field>
                    </div>
                    <div class="md-layout-item">
                        <md-field :class="{'md-invalid':validate.image}">
                            <label>Quest image Only PNG </label>
                            <md-file @md-change="imgQuestToBase64"
                                     v-model="imgUpload"
                                     accept="image/png"/>
                            <span class="md-error">Required Image</span>
                        </md-field>
                    </div>
                    <div class="md-layout-item">
                        <md-field :class="{'md-invalid':validate.points}">
                            <label>Points</label>
                            <md-input v-model="data.points" type="number" step="any"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item">
                        <md-switch v-model="data.used" class="md-primary">{{ status }}</md-switch>
                    </div>
                </div>
                <div class="md-layout">
                    <div class="md-layout-item">
                        <md-field :class="{'md-invalid':validate.description}">
                            <label>Description</label>
                            <md-textarea v-model="data.description"></md-textarea>
                            <span class="md-error">Required Description</span>
                        </md-field>
                    </div>
                </div>
            </md-card-content>
            <md-card-actions>
                <md-button class="md-primary" @click="saveForm">Save</md-button>
            </md-card-actions>
        </md-card>

        <md-card v-if="id != null">
            <md-card-header>
                <div class="md-title">Login Day Rewards</div>
            </md-card-header>
            <md-card-content>
                <div class="md-layout">
                    <div class="md-layout-item md-size-80"></div>
                    <div class="md-layout-item md-size-10">
                        <md-button class="md-success md-just-icon" @click="showDayQuest(null, data.id)">
                            <md-icon>add</md-icon>
                            <md-tooltip md-direction="top">Add</md-tooltip>
                        </md-button>
                    </div>
                </div>

                <div class="md-layout" v-for="(item, index) in data.login_quest">

                    <div class="md-layout-item md-size-10">
                        <md-field>
                            <label for="day">Day</label>
                            <md-input v-model="item.day"
                                      name="day" id="day"
                                      disabled
                            />
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-25">
                        <img :src="item.image" alt="image" style="width: 70px; height: 70px">
                    </div>
                    <div class="md-layout-item md-size-25">
                        <img :src="item.image_pass" alt="image pass" style="width: 70px; height: 70px">
                    </div>
                    <div class="md-layout-item md-size-20">
                        <md-field>
                            <label for="reward_set_id">Reward Set</label>
                            <md-input v-model="item.reward_set_id"
                                      name="reward_set_id" id="reward_set_id"
                                      disabled
                            />
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-10">
                        <md-button class="md-primary md-just-icon" @click="showDayQuest(item.id, data.id)">
                            <md-icon>edit</md-icon>
                            <md-tooltip md-direction="top">Edit</md-tooltip>
                        </md-button>
                    </div>
                    <div class="md-layout-item md-size-10">
                        <md-button class="md-danger md-just-icon" @click="openConfirmModal(item)">
                            <md-icon>close</md-icon>
                            <md-tooltip md-direction="top">Delete</md-tooltip>
                        </md-button>
                    </div>

                </div>
            </md-card-content>
        </md-card>

        <md-dialog-confirm
                :md-active.sync="confirmModal"
                md-title="Confirm Delete"
                :md-content="confirmModalContent"
                @md-cancel="onCancel"
                @md-confirm="onConfirm"/>

        <form-day-quest :active.sync="active"
                        :id="id"
                        :main_quest_id="main_quest_id"
                        :reloadData="setDefaultData"/>

        <div class="loading-overlay" v-if="loading">
            <md-progress-spinner md-mode="indeterminate" :md-stroke="2"></md-progress-spinner>
        </div>
    </div>
</template>

<script>
    import Service from "../../services/index";
    import FormDayQuest from "./FormDayQuest"


    export default {
        name: "FormLoginQuest",
        data() {
            return {
                main_quest_id:null,
                id:null,
                active: false,
                loading: false,
                value: null,
                single: null,
                initial: null,
                rewardOption: [],
                data: {
                    name: "",
                    used: "",
                    points: 0,
                    description: ""
                },
                imgUpload: null,
                validate: {
                    name: false,
                    description: false,
                    pass: true
                },
                confirmModal: false,
                confirmModalContent: "Are you sure you want to delete this item?",
            };
        },
        components: {
            FormDayQuest
        },
        computed: {
            status() {
                if (
                    this.data.used ||
                    this.data.used === "on" ||
                    this.data.used === 1
                ) {
                    this.data.used = "on";
                    return 'used';
                } else {
                    this.data.used = null;
                    return 'unused';
                }

            }
        },
        created() {
            this.setDefaultData();
        },
        methods: {
            setDefaultData() {
                this.id = this.$route.params.id;
                this.loading = true;
                if (this.id != null) {
                    Service.loginQuests
                        .show(this.id)
                        .then(res => {
                            this.data = res.result;
                        })
                        .then(() => {
                            this.imgUpload = null;
                            this.data.image = null;
                            this.loading = false;
                        })
                        .catch(err => {
                            this.$router.push("/404");
                        });
                } else {
                    this.loading = false;
                }
            },
            validateForm: function () {

                if (this.data.name === "" || this.data.name === null) {
                    this.validate.name = true;
                } else {
                    this.validate.name = false;
                }
                if (this.data.description === "" || this.data.description === null) {
                    this.validate.description = true;
                } else {
                    this.validate.description = false;
                }
                if (this.data.points === "" || this.data.points === null) {
                    this.validate.points = true;
                } else {
                    this.validate.points = false;
                }
                if (
                    !this.validate.name &&
                    !this.validate.description &&
                    !this.validate.points
                ) {
                    this.validate.pass = true;
                }
                return this.validate.pass;
            },
            saveForm() {
                if (!this.validateForm()) {
                    return;
                }
                if (this.id != null) {
                    Service.loginQuests
                        .put(this.id, this.data)
                        .then(res => {
                            this.setDefaultData();
                            this.closeDialog();
                            this.notifyVue(`Update <strong>${res.status}</strong>`, `success`);
                        })
                        .catch(err => {
                            this.closeDialog();
                            this.notifyVue(
                                `Update <strong> Fail</strong> ${err.message}.`,
                                `danger`
                            );
                        });
                } else {
                    Service.loginQuests
                        .post(this.data)
                        .then(res => {
                            this.setDefaultData();
                            this.closeDialog();
                            this.loading = false;
                            this.notifyVue(`Create <strong>${res.status}</strong>`, `success`);
                        })
                        .catch(err => {
                            this.closeDialog();
                            this.loading = false;
                            this.notifyVue(
                                `Create <strong> Fail</strong> ${err.message}.`,
                                `danger`
                            );
                        });
                }
            },
            imgQuestToBase64() {
                let file = this.imgUpload;
                let reader = new FileReader();

                reader.readAsDataURL(file.target.files[0]);

                let _this = this;
                reader.onload = function () {
                    _this.data.image = reader.result;
                };
                reader.onerror = function (error) {
                    console.log("Error: ", error);
                };
            },
            notifyVue(message, type) {
                this.$notify({
                    message: message,
                    icon: "add_alert",
                    horizontalAlign: "right",
                    verticalAlign: "top",
                    type: type
                });
            },
            showDayQuest(id, main_quest_id) {
                this.active = true;
                this.id = id;
                this.main_quest_id = main_quest_id;
            },
            openConfirmModal(item) {
                this.confirmModalContent = `Are you sure you want to delete <strong>Day ${item.day}</strong> ?`;
                this.deleteRow = item;
                this.confirmModal = true;
            },
            onConfirm() {
                Service.loginQuests
                    .deleteDayQuest(this.deleteRow.id)
                    .then(() => {
                        this.setDefaultData();
                        this.notifyVue(
                            `Login <strong>Day ${this.deleteRow.set_id}</strong> Deleted`,
                            `success`
                        );
                    });
            },
            onCancel() {
                this.deleteRow = null;
            }
        }
    };
</script>

<style scoped>
    .md-dialog {
        width: 80%;
        transform: translate(calc(-50% + 0.5px), calc(-50% + 0.5px));
    }

    .loading-overlay {
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
