<template>
    <div>
        <md-dialog :md-active="show"
                   @md-opened="setDefaultData"
                   @md-clicked-outside="closeDialog">
            <md-dialog-content>
                <md-dialog-title>
                    {{ data.name }}
                    <md-chip class="md-primary" v-if="data.used">
                        used
                    </md-chip>
                    <md-chip class="active" v-else>
                        unused
                    </md-chip>
                </md-dialog-title>
                <div class="md-layout">
                    <div class="md-layout-item">
                        {{ data.description }}
                    </div>
                    <div class="md-layout-item">
                        <img :src="data.image" alt="Avatar" style="width: 100%; height: 350px">
                    </div>
                </div>

                <md-table v-model="data.login_quest" table-header-color="green">
                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                        <md-table-cell md-label="Day">{{ item.day }}</md-table-cell>
                        <md-table-cell md-label="Image">
                            <img :src="item.image" alt="Avatar" style="width: 40px; height: 40px">
                        </md-table-cell>
                        <md-table-cell md-label="Image Pass">
                            <img :src="item.image_pass" alt="Avatar" style="width: 40px; height: 40px">
                        </md-table-cell>
                        <md-table-cell md-label="Reward Set">{{ item.reward_set_id }}</md-table-cell>
                    </md-table-row>
                </md-table>

                <md-dialog-actions>
                    <md-button class="md-primary" @click="closeDialog">Close</md-button>
                </md-dialog-actions>
            </md-dialog-content>
        </md-dialog>
    </div>
</template>

<script>
    import Service from "../../services/index";

    export default {
        name: "InfoLoginQuest",
        props: ["show", "id"],
        data() {
            return {
                data: {
                    id: null,
                    name: null,
                    description: null,
                    image: null,
                    reward_set_id: null,
                    used: null,
                    login_quest: [{
                        day: 1,
                        image: null,
                        image_pass: null,
                        reward_set_id: null
                    }]
                },
            };
        },
        computed: {},
        methods: {
            closeDialog() {
                this.$emit("update:show", false);
            },
            setDefaultData() {
                if (this.id != null) {
                    Service.loginQuests
                        .show(this.id)
                        .then(res => {
                            this.data = res.result;
                        });
                } else {
                    this.data = {
                        id: null,
                        name: null,
                        description: null,
                        image: null,
                        login_quest: {
                            day: null,
                            image: null,
                            image_pass: null,
                            reward_set_id: null
                        }
                    }
                }
            }
        }
    };
</script>

<style scoped>
    .md-dialog {
        width: 80%;
        transform: translate(calc(-50% + 0.5px), calc(-50% + 0.5px));
    }
</style>
