<template>
    <div>
        <md-dialog :md-active="active"
                   @md-opened="setDefaultData"
                   @md-clicked-outside="closeDialog">
            <md-dialog-content>
                <md-dialog-title>Form</md-dialog-title>
                <md-field :class="{'md-invalid':validate.name}">
                    <label>Name</label>
                    <md-input v-model="data.name"></md-input>
                    <span class="md-error">Required Name</span>
                </md-field>
                <md-field :class="{'md-invalid':validate.image}">
                    <label>Images</label>
                    <md-file @md-change="imgToBase64"
                             v-model="imgUpload"
                             accept="image/png"/>
                    <span class="md-error">Required Image</span>
                </md-field>
                <md-dialog-actions>
                    <md-button class="md-primary" @click="closeDialog">Close</md-button>
                    <md-button class="md-primary" @click="saveForm">Save</md-button>
                </md-dialog-actions>
            </md-dialog-content>
        </md-dialog>
    </div>
</template>

<script>
import Service from "../../services/index";

export default {
  name: "FormType",
  props: ["active", "id", "total", "page", "reloadData", "reloadDataByPage"],
  data() {
    return {
      value: null,
      single: null,
      initial: null,
      data: {
        name: null,
        image: null
      },
      imgUpload: null,
      validate: {
        pass: true,
        name: false,
        image: false
      }
    };
  },
  methods: {
    closeDialog() {
      this.$emit("update:active", false);
    },
    setDefaultData() {
      if (this.id != null) {
        Service.achievementTypes
          .show(this.id)
          .then(res => {
            this.data = res.result;
          })
          .then(() => {
            this.data.image = null;
            this.imgUpload = null;
          });
      } else {
          this.data.id = null;
        this.data.name = null;
        this.data.image = null;
        this.imgUpload = null;
      }
    },
    validateForm: function() {
      //check name
      if (this.data.name === null || this.data.name === "") {
        this.validate.name = true;
        this.validate.pass = false;
      } else {
        this.validate.name = false;
        this.validate.pass = true;
      }
      //check image
      if (this.imgUpload === null || typeof this.imgUpload === "object") {
        this.validate.image = true;
        this.validate.pass = false;
        this.data.image = null;
      } else {
        this.validate.image = false;
        this.validate.pass = true;
      }
      return this.validate.pass;
    },
    imgToBase64() {
      var file = this.imgUpload;
      var reader = new FileReader();

      reader.readAsDataURL(file.target.files[0]);

      let _this = this;
      reader.onload = function() {
        _this.data.image = reader.result;
      };
      reader.onerror = function(error) {
        console.log("Error: ", error);
      };
    },
    saveForm() {
      if (!this.validateForm()) {
        return;
      }
      if (this.id != null) {
        Service.achievementTypes
          .put(this.id, this.data)
          .then(res => {
            this.reload();
            this.closeDialog();
            this.notifyVue(`Update <strong>${res.status}</strong>`, `success`);
          })
          .catch(err => {
            this.closeDialog();
            this.notifyVue(
              `Update <strong> Fail</strong> ${err.message}.`,
              `danger`
            );
          });
      } else {
        Service.achievementTypes
          .post(this.data)
          .then(res => {
            this.reload();
            this.closeDialog();
            this.notifyVue(`Create <strong>${res.status}</strong>`, `success`);
          })
          .catch(err => {
            this.closeDialog();
            this.notifyVue(
              `Create <strong> Fail</strong> ${err.message}.`,
              `danger`
            );
          });
      }
    },
    notifyVue(message, type) {
      this.$notify({
        message: message,
        icon: "add_alert",
        horizontalAlign: "right",
        verticalAlign: "top",
        type: type
      });
    },
    reload() {
      if (this.total - 1 > 15) {
        this.reloadDataByPage();
      } else {
        this.reloadData();
      }
    }
  }
};
</script>

<style scoped>
</style>
