<template>
    <div class="content">
        <div class="md-layout">
            <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100">
                <md-card>
                    <md-card-header data-background-color="green">
                        <h4 class="title">Achievement Types</h4>
                        <p class="category">All achievement types in system.</p>
                    </md-card-header>
                    <md-card-content>
                        <table-types></table-types>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</template>

<script>
import TableTypes from "../AchievementTypes/Table";

export default {
  name: "Index",
  components: {
    TableTypes
  }
};
</script>

<style scoped>
</style>
