<template>
    <div>
        <md-dialog :md-active="active"
                   @md-opened="setDefaultData"
                   @md-clicked-outside="closeDialog">
            <md-dialog-content>
                <md-dialog-title>Form</md-dialog-title>
                <div class="md-layout">
                    <div class="md-layout-item md-size-45">
                        <md-field :class="{'md-invalid':validate.set_id}">
                            <label>Set Name</label>
                            <md-input v-model="data.set_id"></md-input>
                            <span class="md-error">Required Set Name</span>
                        </md-field>
                    </div>
                </div>

                <div class="md-layout" v-for="(item, index) in data.item">

                    <div class="md-layout-item md-size-45">
                        <md-field>
                            <label for="items">Item #{{index+1}}</label>
                            <md-select v-model="item.item_id" name="items" id="items">
                                <md-option v-for="item in itemsList" :value=item.id>{{ item.name }}</md-option>
                            </md-select>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-size-45">
                        <md-field>
                            <label>Amount #{{index+1}}</label>
                            <md-input v-model="item.amount" type="number"></md-input>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-size-10">
                        <md-button class="md-danger md-just-icon" @click="removeItem(index)">
                            <md-icon>close</md-icon>
                        </md-button>
                    </div>

                </div>

                <div class="md-layout">
                    <div class="md-layout-item md-size-90"></div>
                    <div class="md-layout-item md-size-10">
                        <md-button class="md-success md-just-icon" @click="addItem()">
                            <md-icon>add</md-icon>
                        </md-button>
                    </div>
                </div>

                <md-dialog-actions>
                    <md-button class="md-primary" @click="closeDialog">Close</md-button>
                    <md-button class="md-primary" @click="saveForm">Save</md-button>
                </md-dialog-actions>
            </md-dialog-content>
        </md-dialog>
    </div>
</template>

<script>
    import Service from "../../services/index";

    export default {
        name: "FormRewards",
        props: ["active", "id", "total", "page", "reloadData", "reloadDataByPage", "itemsList"],
        data() {
            return {
                value: null,
                single: null,
                initial: null,
                data: {
                    id: null,
                    set_id: null,
                    item_id: null,
                    amount: 0,
                    item: [{
                        amount: 0,
                        coin: 0,
                        image: null,
                        item_id: null,
                        name: null,
                        type: null
                    }]
                },
                imgUpload: null,
                validate: {
                    set_id: false,
                    item_id: false,
                    amount: false,
                    pass: true
                }
            };
        },
        computed: {},
        methods: {
            closeDialog() {
                this.$emit("update:active", false);
            },
            setDefaultData() {
                if (this.id != null) {
                    Service.rewardSets
                        .show(this.id)
                        .then(res => {
                            this.data = res.result;
                        });
                } else {
                    this.data.id = null;
                    this.data.set_id = null;
                    this.data.item_id = null;
                    this.data.amount = 0;
                    this.data.item = [{
                        amount: 0,
                        coin: 0,
                        image: null,
                        item_id: null,
                        name: null,
                        type: null
                    }];
                    console.log(this.data.item)
                }
            },
            validateForm: function () {
                if(this.data.set_id === "" || this.data.set_id === null){
                    this.validate.set_id = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                }
                let _this = this;
                this.data.item.map(function (value, key) {
                    if (value.item_id === null) {
                        _this.notifyVue(
                            `Required <strong> Item At Row ${key+1}.</strong>`,
                            `warning`
                        );
                        _this.validate.item_id = true;
                        _this.validate.pass = false;
                        return _this
                    }
                    if (value.amount < 1) {
                        _this.notifyVue(
                            `Required <strong> Amount At Row ${key+1}.</strong>`,
                            `warning`
                        );
                        _this.validate.amount = true;
                        _this.validate.pass = false;
                        return _this
                    }
                });
                return this.validate.pass;
            },
            saveForm() {
                if (!this.validateForm()) {
                    return;
                }
                if (this.id != null) {
                    Service.rewardSets
                        .put(this.id, this.data)
                        .then(res => {
                            this.reload();
                            this.closeDialog();
                            this.notifyVue(`Update <strong>${res.status}</strong>`, `success`);
                        })
                        .catch(err => {
                            this.closeDialog();
                            this.notifyVue(
                                `Update <strong> Fail</strong> ${err.message}.`,
                                `danger`
                            );
                        });
                } else {
                    Service.rewardSets
                        .post(this.data)
                        .then(res => {
                            this.reload();
                            this.closeDialog();
                            this.notifyVue(`Create <strong>${res.status}</strong>`, `success`);
                        })
                        .catch(err => {
                            this.closeDialog();
                            this.notifyVue(
                                `Create <strong> Fail</strong> ${err.message}.`,
                                `danger`
                            );
                        });
                }

            },
            notifyVue(message, type) {
                this.$notify({
                    message: message,
                    icon: "add_alert",
                    horizontalAlign: "right",
                    verticalAlign: "top",
                    type: type
                });
            },
            reload() {
                if (this.total - 1 > 15) {
                    this.reloadDataByPage();
                } else {
                    this.reloadData();
                }
            },
            addItem() {
                this.data.item.push({
                    amount: 0,
                    coin: 0,
                    image: null,
                    item_id: null,
                    name: null,
                    type: null
                })
            },
            removeItem(index) {
                if (this.data.item.length <= 1) {
                    this.notifyVue(
                        `Can't remove lasted row`,
                        `warning`
                    );
                    return;
                }
                this.data.item.splice(index, 1);
            }
        }
    };
</script>

<style scoped>
    .md-dialog {
        width: 40%;
        transform: translate(calc(-50% + 0.5px), calc(-50% + 0.5px));
    }
</style>
