<template>
    <div class="content">
        <div class="md-layout">
            <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100">
                <md-card>
                    <md-card-header data-background-color="green">
                        <h4 class="title">Reward Sets</h4>
                        <p class="category">All reward sets in system.</p>
                    </md-card-header>
                    <md-card-content>
                        <table-rewards></table-rewards>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</template>

<script>
    import TableRewards from "./Table";

    export default {
        name: "Index",
        data() {
            return{

            }
        },
        components:{
            TableRewards
        }
    };
</script>

<style scoped>
</style>
