<template>
    <div>
        <div class="md-layout md-gutter md-alignment-center-right">
            <div class="md-layout-item md-size-25">
                <md-field>
                    <label>Search</label>
                    <md-input v-model="filter" type="text" @keyup.enter="initData"></md-input>
                    <span class="md-helper-text">Press enter for search</span>
                </md-field>
            </div>
            <div class="md-layout-item md-size-25">
                <md-button class="md-success md-just-icon" @click="openForm(null)">
                    <md-icon>add</md-icon>
                    <md-tooltip md-direction="top">Add</md-tooltip>
                </md-button>
            </div>
        </div>

        <div v-if="data != null">
            <div class="viewport" v-for="value in data">
                <md-toolbar :md-elevation="1">
                    <span class="md-title">{{ value.set_id }}</span>
                </md-toolbar>

                <md-list class="md-double-line">
                    <md-list-item v-for="item in value.item">
                        <md-icon class="md-primary">
                            <img :src="item.image" alt="Avatar" style="width: 30px; height: 30px">
                        </md-icon>

                        <div class="md-list-item-text">
                            <span>{{ item.name }}</span>
                        </div>

                        <md-button class="md-icon-button md-list-action">
                            <span><strong>x {{ item.amount}}</strong></span>
                        </md-button>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <div></div>
                        <div></div>
                        <div>
                            <md-button class="md-warning md-just-icon" @click="openForm(value.id)">
                                <md-icon>edit</md-icon>
                                <md-tooltip md-direction="top">Edit</md-tooltip>
                            </md-button>
                            <md-button class="md-danger md-just-icon"
                                       @click="openConfirmModal(value)">
                                <md-icon>close</md-icon>
                                <md-tooltip md-direction="top">Delete</md-tooltip>
                            </md-button>
                        </div>
                    </md-list-item>
                </md-list>
            </div>


            <div class="md-alignment-center-center" v-if="paginate.total > 0">
                <div class="md-layout-item md-size-100 text-center">
                    <vue-ads-pagination
                            :page="paginate.currentPage - 1"
                            :itemsPerPage="paginate.perPage"
                            :totalItems="paginate.total"
                            :loading="pageLoading"
                            @page-change="pageChange"
                    />
                </div>
            </div>

            <md-dialog-confirm
                    :md-active.sync="confirmModal"
                    md-title="Confirm Delete"
                    :md-content="confirmModalContent"
                    @md-cancel="onCancel"
                    @md-confirm="onConfirm"/>

            <form-rewards :active.sync="active"
                          :id="id"
                          :total="paginate.total"
                          :page="result.current_page"
                          :reloadData="initData"
                          :reloadDataByPage="initDataByPage"
                          :itemsList="allItems"/>
        </div>
    </div>
</template>

<script>
    import Vue from "vue";
    import Service from "../../services/index";
    import VueAdsPagination, {VueAdsPageButton} from 'vue-ads-pagination';
    import Notifications from "../../components/NotificationPlugin";
    import FormRewards from "./Form"

    Vue.use(Notifications);

    export default {
        name: "TableRewards",
        props: {
            tableHeaderColor: {
                type: String,
                default: ""
            }
        },
        data() {
            return {
                id: null,
                filter: "",
                active: false,
                result: null,
                data: null,
                confirmModal: false,
                paginate: {
                    currentPage: 1,
                    firstPageUrl: null,
                    from: null,
                    lastPage: null,
                    lastPageUrl: null,
                    nextPageUrl: null,
                    perPage: null,
                    path: null,
                    prevPageUrl: null,
                    to: null,
                    total: 0
                },
                showFormDialog: false,
                confirmModalContent: "Are you sure you want to delete this item?",
                pageLoading: false,
                allItems: false
            };
        },
        components: {
            VueAdsPagination,
            VueAdsPageButton,
            FormRewards
        },
        beforeCreate() {
            Service.rewardSets.get().then(res => {
                this.usageData(res);
            });

            Service.items.getItemByPage(1)
                .then(res => {
                    let items = res.result.data;
                    for (let page = 2; page <= res.result.last_page; page++) {
                        Service.items.getItemByPage(page)
                            .then(res => {
                                let nextItems = res.result.data;
                                nextItems.forEach((item) => {
                                    items.push(item);
                                });
                                return items;
                            })
                    }
                    this.allItems = items;
                })
        },
        methods: {
            initData() {
                Service.rewardSets.get(this.filter).then(res => {
                    this.usageData(res);
                });
            },
            initDataByPage() {
                Service.rewardSets.getByPage(this.result.current_page, this.filter).then(res => {
                    this.usageData(res);
                });
            },
            usageData(res) {
                this.result = res.result;
                this.paginate = {
                    currentPage: this.result.current_page,
                    firstPageUrl: this.result.first_page_url,
                    from: this.result.from,
                    lastPage: this.result.last_page,
                    lastPageUrl: this.result.last_page_url,
                    nextPageUrl: this.result.next_page_url,
                    perPage: this.result.per_page,
                    path: this.result.path,
                    prevPageUrl: this.result.prev_page_url,
                    to: this.result.to,
                    total: this.result.total
                };
                this.data = this.result.data;
            },
            openForm(id) {
                this.active = true;
                this.id = id;
            },
            openConfirmModal(item) {
                this.confirmModalContent = `Are you sure you want to delete <strong>${item.set_id}</strong> ?`;
                this.deleteRow = item;
                this.confirmModal = true;
            },
            onConfirm() {
                Service.rewardSets
                    .delete(this.deleteRow.id)
                    .then(() => {
                        this.notifyVue(
                            `Item <strong>${this.deleteRow.set_id}</strong> Deleted`,
                            `success`
                        );
                    })
                    .then(() => {
                        if (this.paginate.total - 1 > 15) {
                            this.initDataByPage();
                        } else {
                            this.initData();
                        }
                    });
            },
            onCancel() {
                this.deleteRow = null;
            },
            pageChange(page, start, end) {
                this.pageLoading = true;
                Service.rewardSets.getByPage(`${page + 1}`, this.filter).then(res => {
                    this.usageData(res)
                    this.pageLoading = false;
                });
            },
            notifyVue(message, type) {
                this.$notify({
                    message: message,
                    icon: "add_alert",
                    horizontalAlign: "right",
                    verticalAlign: "top",
                    type: type
                });
            }
        }
    };
</script>

<style scoped>
</style>
<style lang="scss" scoped>
    .viewport {
        width: 320px;
        max-width: 100%;
        display: inline-block;
        vertical-align: top;
        overflow: auto;
        border: 1px solid rgba(#000, .12);
        margin: 10px;
    }
</style>
