<template>
    <div>
        <md-dialog :md-active="active"
                   @md-opened="setDefaultData"
                   @md-clicked-outside="closeDialog">
            <md-dialog-content>
                <md-dialog-title>Form</md-dialog-title>

                <md-field :class="{'md-invalid':validate.name}">
                    <label>Name</label>
                    <md-input v-model="data.name"></md-input>
                    <span class="md-error">Required Name</span>
                </md-field>

                <md-field :class="{'md-invalid':validate.value}">
                    <label>Value</label>
                    <md-input v-model="data.value"></md-input>
                    <span class="md-error">Required Value</span>
                </md-field>

                <md-dialog-actions>
                    <md-button class="md-primary" @click="closeDialog">Close</md-button>
                    <md-button class="md-primary" @click="saveForm">Save</md-button>
                </md-dialog-actions>

            </md-dialog-content>
        </md-dialog>
    </div>
</template>

<script>
import Service from "../../services/index";

export default {
  name: "FormConfigs",
  props: ["active", "id", "total", "page", "reloadData", "reloadDataByPage"],
  data() {
    return {
      value: null,
      single: null,
      initial: null,
      data: {
        name: null,
        value: null
      },
      validate: {
        pass: true,
        name: null,
        value: null
      }
    };
  },
  methods: {
    closeDialog() {
      this.$emit("update:active", false);
    },
    setDefaultData() {
      if (this.id != null) {
        Service.configs.show(this.id).then(res => {
          this.data = res.result;
        });
      } else {
          this.data.id = null;
        this.data.name = null;
        this.data.value = null;
      }
    },
    validateForm: function() {
      //check name
      if (this.data.name === null || this.data.name === "") {
        this.validate.name = true;
        this.validate.pass = false;
        return this.validate.pass;
      } else {
        this.validate.name = false;
        this.validate.pass = true;
      }
      if (this.data.value === null || this.data.value === "") {
        this.validate.value = true;
        this.validate.pass = false;
        return this.validate.pass;
      } else {
        this.validate.value = false;
        this.validate.pass = true;
      }
      return this.validate.pass;
    },
    saveForm() {
      if (!this.validateForm()) {
        return;
      }
      if (this.id != null) {
        Service.configs
          .put(this.id, this.data)
          .then(res => {
            this.reload();
            this.closeDialog();
            this.notifyVue(`Update <strong>${res.status}</strong>`, `success`);
          })
          .catch(err => {
            this.closeDialog();
            this.notifyVue(
              `Update <strong> Fail</strong> ${err.message}.`,
              `danger`
            );
          });
      } else {
        Service.configs
          .post(this.data)
          .then(res => {
            this.reload();
            this.closeDialog();
            this.notifyVue(`Create <strong>${res.status}</strong>`, `success`);
          })
          .catch(err => {
            this.closeDialog();
            this.notifyVue(
              `Create <strong> Fail</strong> ${err.message}.`,
              `danger`
            );
          });
      }
    },
    notifyVue(message, type) {
      this.$notify({
        message: message,
        icon: "add_alert",
        horizontalAlign: "right",
        verticalAlign: "top",
        type: type
      });
    },
    reload() {
      if (this.total - 1 > 15) {
        this.reloadDataByPage();
      } else {
        this.reloadData();
      }
    }
  }
};
</script>

<style scoped>
</style>
