<template>
    <div class="content">
        <div class="md-layout">
            <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100">
                <md-card>
                    <md-card-header data-background-color="green">
                        <h4 class="title">System Configs</h4>
                        <p class="category">All configs in system.</p>
                    </md-card-header>
                    <md-card-content>

                        <div class="md-layout md-gutter md-alignment-center-right">
                            <div class="md-layout-item md-size-25">
                                <md-button class="md-success md-just-icon" @click="openForm(null)">
                                    <md-icon>add</md-icon>
                                    <md-tooltip md-direction="top">Add</md-tooltip>
                                </md-button>
                            </div>
                        </div>

                        <div v-if="data != null">

                            <md-table v-model="data" table-header-color="green">
                                <md-table-row slot="md-table-row" slot-scope="{ item }">
                                    <md-table-cell>
                                        <md-button class="md-just-icon md-simple md-primary" @click="openForm(item.id)">
                                            <md-icon>edit</md-icon>
                                            <md-tooltip md-direction="top">Edit</md-tooltip>
                                        </md-button>
                                        <md-button class="md-just-icon md-simple md-danger"
                                                   @click="openConfirmModal(item)">
                                            <md-icon>close</md-icon>
                                            <md-tooltip md-direction="top">Delete</md-tooltip>
                                        </md-button>
                                    </md-table-cell>
                                    <md-table-cell md-label="Name">{{ item.name }}</md-table-cell>
                                    <md-table-cell md-label="Value">{{ item.value }}</md-table-cell>
                                </md-table-row>
                            </md-table>

                            <div class="md-alignment-center-center" v-if="paginate.total > 0">
                                <div class="md-layout-item md-size-100 text-center">
                                    <vue-ads-pagination
                                            :page="paginate.currentPage - 1"
                                            :itemsPerPage="paginate.perPage"
                                            :totalItems="paginate.total"
                                            :loading="pageLoading"
                                            @page-change="pageChange"
                                    />
                                </div>
                            </div>

                            <md-dialog-confirm
                                    :md-active.sync="confirmModal"
                                    md-title="Confirm Delete"
                                    :md-content="confirmModalContent"
                                    @md-cancel="onCancel"
                                    @md-confirm="onConfirm"/>

                            <form-configs :active.sync="active"
                                          :id="id"
                                          :total="this.paginate.total"
                                          :page="this.result.current_page"
                                          :reloadData="initData"
                                          :reloadDataByPage="initDataByPage"/>

                        </div>

                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from "vue";
import Service from "../../services/index";
import VueAdsPagination from "vue-ads-pagination";
import { VueAdsPageButton } from "vue-ads-pagination";
import Notifications from "../../components/NotificationPlugin";
import FormConfigs from "./Form";

Vue.use(Notifications);

export default {
  name: "Index",
  data() {
    return {
      id: null,
      active: false,
      result: null,
      data: null,
      confirmModal: false,
      paginate: {
        currentPage: 1,
        firstPageUrl: null,
        from: null,
        lastPage: null,
        lastPageUrl: null,
        nextPageUrl: null,
        perPage: null,
        path: null,
        prevPageUrl: null,
        to: null,
        total: 0
      },
      showFormDialog: false,
      confirmModalContent: "Are you sure you want to delete this item?",
      pageLoading: false
    };
  },
  components: {
    VueAdsPagination,
    VueAdsPageButton,
    FormConfigs
  },
  beforeCreate() {
    Service.configs.get().then(res => {
      this.result = res.result;
      console.log(this.result);
      if (this.result.total > 0) {
        this.paginate = {
          currentPage: this.result.current_page,
          firstPageUrl: this.result.first_page_url,
          from: this.result.from,
          lastPage: this.result.last_page,
          lastPageUrl: this.result.last_page_url,
          nextPageUrl: this.result.next_page_url,
          perPage: this.result.per_page,
          path: this.result.path,
          prevPageUrl: this.result.prev_page_url,
          to: this.result.to,
          total: this.result.total
        };
      }
      this.data = this.result.data;
    });
  },
  methods: {
    initData() {
      Service.configs.get().then(res => {
        this.usageData(res);
      });
    },
    initDataByPage() {
      Service.configs.getByPage(this.result.current_page).then(res => {
        this.usageData(res);
      });
    },
    usageData(res) {
      this.result = res.result;
      this.paginate = {
        currentPage: this.result.current_page,
        firstPageUrl: this.result.first_page_url,
        from: this.result.from,
        lastPage: this.result.last_page,
        lastPageUrl: this.result.last_page_url,
        nextPageUrl: this.result.next_page_url,
        perPage: this.result.per_page,
        path: this.result.path,
        prevPageUrl: this.result.prev_page_url,
        to: this.result.to,
        total: this.result.total
      };
      this.data = this.result.data;
    },
    openForm(id) {
      this.active = true;
      this.id = id;
    },
    openConfirmModal(item) {
      this.confirmModalContent = `Are you sure you want to delete <strong>${
        item.name
      }</strong> ?`;
      this.deleteRow = item;
      this.confirmModal = true;
    },
    onConfirm() {
      Service.configs
        .delete(this.deleteRow.id)
        .then(() => {
          this.notifyVue(
            `Item <strong>${this.deleteRow.name}</strong> Deleted`,
            `success`
          );
        })
        .then(() => {
          if (this.paginate.total - 1 > 15) {
            this.initDataByPage();
          } else {
            this.initData();
          }
        });
    },
    onCancel() {
      this.deleteRow = null;
    },
    pageChange(page, start, end) {
      this.pageLoading = true;
      Service.configs.getByPage(`${page + 1}`).then(res => {
          this.usageData(res);
        this.pageLoading = false;
      });
    },
    notifyVue(message, type) {
      this.$notify({
        message: message,
        icon: "add_alert",
        horizontalAlign: "right",
        verticalAlign: "top",
        type: type
      });
    }
  }
};
</script>

<style scoped>
</style>
