<template>
    <div>
        <md-dialog :md-active="active"
                   @md-opened="setDefaultData"
                   @md-clicked-outside="closeDialog">
            <md-dialog-content>

                <md-dialog-title>Form</md-dialog-title>
                <div class="md-layout">
                    <div class="md-layout-item">
                        <md-field :class="{'md-invalid':validate.name}">
                            <label for="name">Name</label>
                            <md-input v-model="data.name"
                                      name="name" id="name"
                            ></md-input>
                            <span class="md-error">Required Category Name</span>
                        </md-field>
                    </div>
                </div>
                <div class="md-layout-item">
                    <md-field>
                        <label>Category Image (Only PNG images)</label>
                        <md-file @md-change="imgToBase64"
                                 v-model="imgUpload"
                                 accept="image/png"/>
                    </md-field>
                </div>
                <div class="md-layout">
                    <div class="md-layout-item md-size-50">
                        <md-switch v-model="data.active"
                                   class="md-primary"
                                   value="on">
                            {{ status }}
                        </md-switch>
                    </div>
                </div>

                <md-dialog-actions>
                    <md-button class="md-primary" @click="closeDialog">Close</md-button>
                    <md-button class="md-primary" @click="saveForm">Save</md-button>
                </md-dialog-actions>
            </md-dialog-content>
        </md-dialog>
    </div>
</template>

<script>
    import Service from "../../services/index";

    export default {
        name: "FormCategories",
        props: ["active", "id", "total", "page", "reloadData", "reloadDataByPage"],
        data() {
            return {
                data: {
                    name: null,
                    imgUpload: null,
                    image: null,
                    active: ""
                },
                imgUpload: null,
                validate: {
                    pass: true,
                    name: false,
                }
            };
        },
        components: {},
        computed: {
            status() {
                if (
                    this.data.active ||
                    this.data.active === "on" ||
                    this.data.active === 1
                ) {
                    this.data.active = "on";
                    return 'active';
                } else {
                    this.data.active = null;
                    return 'inactive';
                }

            }},
        methods: {
            closeDialog() {
                this.$emit("update:active", false);
            },
            setDefaultData() {
                this.validate = {
                    pass: true,
                    name: false,
                };
                if (this.id != null) {
                    Service.categories
                        .show(this.id)
                        .then(res => {
                            this.data = res.result;
                        })
                        .then(()=>{
                            this.data.imgUpload = null;
                            this.data.image = null;
                        });
                } else {
                    this.data = {
                        name: null,
                        imgUpload: null,
                        image: null,
                        active: ""
                    };
                }
            },
            validateForm: function () {

                if (this.data.name === null || this.data.name === "" ) {
                    this.validate.name = true;
                    this.validate.pass = false;
                } else {
                    this.validate.name = false;
                    this.validate.pass = true;
                }

                return this.validate.pass;
            },
            imgToBase64() {
                let file = this.imgUpload;
                let reader = new FileReader();

                reader.readAsDataURL(file.target.files[0]);

                let _this = this;
                reader.onload = function () {
                    _this.data.image = reader.result;
                };
                reader.onerror = function (error) {
                    console.log("Error: ", error);
                };
            },
            saveForm() {
                if (!this.validateForm()) {
                    return;
                }
                if (this.id != null) {
                    Service.categories
                        .put(this.id, this.data)
                        .then(res => {
                            this.reload();
                            this.closeDialog();
                            this.notifyVue(`Update <strong>event</strong>`, `success`);
                        })
                        .catch(err => {
                            this.closeDialog();
                            this.notifyVue(
                                `Update <strong> Fail</strong> ${err.message}.`,
                                `danger`
                            );
                        });
                } else {
                    Service.categories
                        .post(this.data)
                        .then(res => {
                            this.reload();
                            this.closeDialog();
                            this.notifyVue(`Create <strong>event</strong>`, `success`);
                        })
                        .catch(err => {
                            this.closeDialog();
                            this.notifyVue(
                                `Create <strong> Fail</strong>.`,
                                `danger`
                            );
                        });
                }
            },
            notifyVue(message, type) {
                this.$notify({
                    message: message,
                    icon: "add_alert",
                    horizontalAlign: "right",
                    verticalAlign: "top",
                    type: type
                });
            },
            reload() {
                if (this.total - 1 > 15) {
                    this.reloadDataByPage();
                } else {
                    this.reloadData();
                }
            }
        }
    };
</script>

<style scoped>
    .padding-top {
        padding-top: 12px;
    }

    .md-dialog {
        width: 100%;
        transform: translate(calc(-50% + 0.5px), calc(-50% + 0.5px));
    }

    .my-input-class {
        background: dimgrey;
        border: 10px solid;
    }
</style>
<style lang="scss">
    @import '../../../node_modules/bootstrap/scss/bootstrap';
    /*You need a specific loader for CSS files*/
    @import '../../../node_modules/vue-datetime/dist/vue-datetime.css';
</style>
