<template>
    <div>
        <md-dialog :md-active="active"
                   @md-opened="setDefaultData"
                   @md-clicked-outside="closeDialog">
            <md-dialog-content>
                <md-dialog-title>Form</md-dialog-title>

                <div class="md-layout">
                    <md-field class="dropdown" :class="{'md-invalid':validate.reward_set_id}">
                        <label for="q_reward_set_id">Reward Set</label>
                        <md-select v-model="data.reward_set_id" name="q_reward_set_id" id="q_reward_set_id">
                            <md-option v-for="reward in rewardOption" :value="reward">{{reward}}</md-option>
                        </md-select>
                        <span class="md-error">Required Reward Set</span>
                    </md-field>
                </div>

                <div class="md-layout">

                    <div class="md-layout-item md-size-50">
                        <md-field :class="{'md-invalid':validate.rank_start}">
                            <label>Rank Start</label>
                            <md-input v-model="data.rank_start" type="number"></md-input>
                            <span class="md-error">Required Rank Start</span>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-50">
                        <md-field :class="{'md-invalid':validate.rank_end}">
                            <label>Rank End</label>
                            <md-input v-model="data.rank_end" type="number"></md-input>
                            <span class="md-error">Required Rank End</span>
                        </md-field>
                    </div>

                </div>

                <div class="md-layout">
                    <div class="md-layout-item md-size-50">
                        <md-field :class="{'md-invalid':validate.start_of_week}">
                            <md-datepicker v-model="data.start_of_week" :md-disabled-dates="data.disabledStart">
                                <label>Start Of Week</label>
                            </md-datepicker>
                            <span class="md-error">Required Start Of Week</span>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-50">
                        <md-field :class="{'md-invalid':validate.end_of_week}">
                            <md-datepicker v-model="data.end_of_week" :md-disabled-dates="data.disabledEnd">
                                <label>End Of Week</label>
                            </md-datepicker>
                            <span class="md-error">Required End Of Week</span>
                        </md-field>
                    </div>
                </div>

                <md-switch v-model="data.active" class="md-primary">{{ status }}</md-switch>

                <md-dialog-actions>
                    <md-button class="md-primary" @click="closeDialog">Close</md-button>
                    <md-button class="md-primary" @click="saveForm">Save</md-button>
                </md-dialog-actions>
            </md-dialog-content>
        </md-dialog>
    </div>
</template>

<script>
    import Vue from "vue";
    import Service from "../../../services/index";
    import Notifications from "../../../components/NotificationPlugin";
    import DateFormat from "../../../utils/DateFormat"
    import VueAdsPagination, {VueAdsPageButton} from 'vue-ads-pagination';

    Vue.use(Notifications);

    export default {
        name: "FormWeekReward",
        props: ["active", "id", "total", "page", "reloadData", "reloadDataByPage"],
        data() {
            return {
                value: null,
                single: null,
                initial: null,
                rewardOption:[],
                data: {
                    reward_set_id: null,
                    start_of_week: null,
                    end_of_week: null,
                    active: null,
                    activeTxt: null,
                    rank_start: null,
                    rank_end: null,
                    disabledStart: date => {
                        const day = date.getDay();

                        return day === 0 || day === 2 || day === 3 || day === 4 || day === 5 || day === 6
                    },
                    disabledEnd: date => {
                        const day = date.getDay();

                        return day === 1 || day === 2 || day === 3 || day === 4 || day === 5 || day === 6
                    },
                    boolean: false
                },
                validate: {
                    pass: true,
                    reward_set_id: false,
                    start_of_week: false,
                    end_of_week: false,
                    active: false,
                    rank_start: false,
                    rank_end: false
                }
            };
        },
        computed: {
            status() {
                return this.data.active ? 'active' : 'inactive'
            }
        },
        methods: {
            closeDialog() {
                this.$emit("update:active", false);
            },
            setDefaultData() {
                Service.rewardSets
                    .selectOption()
                    .then(res => {
                        this.rewardOption = res;
                    }).then(() => {
                    if (this.id != null) {
                        Service.ranking.weekly.reward
                            .show(this.id)
                            .then(res => {
                                this.data = res.result;
                                this.data.active ? this.data.active = "on" : this.data.active = null
                            });
                    } else {
                        this.data.reward_set_id = null;
                        this.data.start_of_week = null;
                        this.data.end_of_week = null;
                        this.data.active = null;
                        this.data.rank_start = null;
                        this.data.rank_end = null;
                    }
                });
            },
            validateForm: function () {
                //check name
                if (this.data.reward_set_id === null || this.data.name === "") {
                    this.validate.reward_set_id = true;
                    this.validate.pass = false;
                } else {
                    this.validate.reward_set_id = false;
                    this.validate.pass = true;
                }
                return this.validate.pass;
            },
            saveForm() {
                if (!this.validateForm()) {
                    return;
                }
                this.data.start_of_week = DateFormat.yearMonthDay(this.data.start_of_week);
                this.data.end_of_week = DateFormat.yearMonthDay(this.data.end_of_week);
                if (this.id != null) {
                    Service.ranking.weekly.reward
                        .put(this.id, this.data)
                        .then(res => {
                            console.log(res)
                            this.reload();
                            this.closeDialog();
                            this.notifyVue(`Update <strong>${res.status}</strong>`, `success`);
                        })
                        .catch(err => {
                            this.closeDialog();
                            this.notifyVue(
                                `Update <strong> Fail</strong> ${err.message}.`,
                                `danger`
                            );
                        });
                } else {
                    Service.ranking.weekly.reward
                        .post(this.data)
                        .then(res => {
                            this.reload();
                            this.closeDialog();
                            this.notifyVue(`Create <strong>${res.status}</strong>`, `success`);
                        })
                        .catch(err => {
                            this.closeDialog();
                            this.notifyVue(
                                `Create <strong> Fail</strong> ${err.message}.`,
                                `danger`
                            );
                        });
                }
            },
            notifyVue(message, type) {
                this.$notify({
                    message: message,
                    icon: "add_alert",
                    horizontalAlign: "right",
                    verticalAlign: "top",
                    type: type
                });
            },
            reload() {
                if (this.total - 1 > 15) {
                    this.reloadDataByPage();
                } else {
                    this.reloadData();
                }
            },
            activeToggle() {
                console.log(this.data.boolean)
                if (this.data.boolean === "on") {
                    this.data.active = 1;
                } else {
                    this.data.active = 0;
                }
                console.log(this.data.active)
            }
        }
    };
</script>
<style scoped>
</style>
