<template>
    <div>
        <div class="md-layout">
            <div class="md-layout-item md-size-45">
                <md-datepicker v-model="week_start" :md-disabled-dates="disabledStart"/>
            </div>
            <div class="md-layout-item md-size-45">
                <md-datepicker v-model="week_end" :md-disabled-dates="disabledEnd"/>
            </div>
            <div class="md-layout-item md-size-10">
                <md-button class="md-warning md-just-icon" @click="filter">
                    <md-icon>refresh</md-icon>
                </md-button>
            </div>
        </div>
        <div v-if="data.length >= 1">
            <md-table v-model="data" table-header-color="green">
                <md-table-row slot="md-table-row" slot-scope="{ item }">
                    <md-table-cell md-label="Rank">{{ item.rank }}</md-table-cell>
                    <md-table-cell md-label="Profile">
                        <img :src="item.profile_image" alt="Avatar" style="width: 50px; height: 50px">
                    </md-table-cell>
                    <md-table-cell md-label="Name">{{ item.first_name }}</md-table-cell>
                    <md-table-cell md-label="Steps">{{ item.steps }}</md-table-cell>
                </md-table-row>
            </md-table>

            <div class="md-alignment-center-center" v-if="paginate.total > 0">
                <div class="md-layout-item md-size-100 text-center">
                    <vue-ads-pagination
                            :page="paginate.currentPage - 1"
                            :itemsPerPage="paginate.perPage"
                            :totalItems="paginate.total"
                            :loading="pageLoading"
                            @page-change="pageChange"
                    />
                </div>
            </div>
        </div>
        <div v-else>
            <h1>Ranking Not Found.</h1>
        </div>
    </div>
</template>

<script>
    import Vue from "vue";
    import Service from "../../../services/index";
    import Notifications from "../../../components/NotificationPlugin";
    import DateFormat from "../../../utils/DateFormat"
    import VueAdsPagination, {VueAdsPageButton} from 'vue-ads-pagination';

    Vue.use(Notifications);

    export default {
        name: "TableWeek",
        data() {
            return {
                selected: [],
                data: [],
                week_start: null,
                week_end: null,
                disabledStart: date => {
                    const day = date.getDay();

                    return day === 0 || day === 2 || day === 3 || day === 4 || day === 5 || day === 6
                },
                disabledEnd: date => {
                    const day = date.getDay();

                    return day === 1 || day === 2 || day === 3 || day === 4 || day === 5 || day === 6
                },
                result: null,
                confirmModal: false,
                paginate: {
                    currentPage: 1,
                    firstPageUrl: null,
                    from: null,
                    lastPage: null,
                    lastPageUrl: null,
                    nextPageUrl: null,
                    perPage: null,
                    path: null,
                    prevPageUrl: null,
                    to: null,
                    total: 0
                },
                showFormDialog: false,
                confirmModalContent: "Are you sure you want to delete this item?",
                pageLoading: false
            };
        },
        components: {
            VueAdsPagination,
            VueAdsPageButton
        },
        beforeCreate() {
            Service.ranking.weekly.history
                .getCurrent()
                .then(res => {
                    this.usageData(res);
                })
        },
        methods: {
            initData() {
                Service.ranking.weekly.history
                    .get(
                        DateFormat.yearMonthDay(this.week_start),
                        DateFormat.yearMonthDay(this.week_end)
                    )
                    .then(res => {
                        this.usageData(res);
                    });
            },
            initDataByPage() {
                Service.ranking.weekly.history
                    .getByPage(
                        `${page + 1}`,
                        DateFormat.yearMonthDay(this.week_start),
                        DateFormat.yearMonthDay(this.week_end)
                    )
                    .then(res => {
                    this.usageData(res);
                });
            },
            usageData(res) {
                this.result = res.result;
                this.paginate = {
                    currentPage: this.result.current_page,
                    firstPageUrl: this.result.first_page_url,
                    from: this.result.from,
                    lastPage: this.result.last_page,
                    lastPageUrl: this.result.last_page_url,
                    nextPageUrl: this.result.next_page_url,
                    perPage: this.result.per_page,
                    path: this.result.path,
                    prevPageUrl: this.result.prev_page_url,
                    to: this.result.to,
                    total: this.result.total
                };
                this.data = this.result.data;
            },
            filter() {
                Service.ranking.weekly.history
                    .get(
                        DateFormat.yearMonthDay(this.week_start),
                        DateFormat.yearMonthDay(this.week_end)
                    )
                    .then(res => {
                        this.usageData(res);
                    })
            },
            pageChange(page, start, end) {
                this.pageLoading = true;
                Service.ranking.weekly.history
                    .getByPage(
                        `${page + 1}`,
                        DateFormat.yearMonthDay(this.week_start),
                        DateFormat.yearMonthDay(this.week_end)
                    )
                    .then(res => {
                        this.usageData(res);
                        this.pageLoading = false;
                    });
            },
        }
    };
</script>
