<template>
    <div class="content">
        <div class="md-layout">
            <md-card>
                <md-card-header data-background-color="green">
                    <h4 class="title">News Form</h4>
                    <p class="category">News information.</p>
                </md-card-header>
                <md-card-content>
                    <div class="md-layout-item md-small-size-100 md-size-100">
                        <md-field :class="{'md-invalid':validate.created_by}">
                            <label>Created By</label>
                            <md-input v-model="data.created_by"></md-input>
                            <span class="md-error">Required Created By</span>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-small-size-100 md-size-100">
                        <md-field :class="{'md-invalid':validate.headline}">
                            <label>Headline</label>
                            <md-input v-model="data.headline"></md-input>
                            <span class="md-error">Required Headline</span>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-small-size-100 md-size-100">
                        <md-field :class="{'md-invalid':validate.description}">
                            <label>Description</label>
                            <md-textarea v-model="data.description"></md-textarea>
                            <span class="md-error">Required Description</span>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-small-size-100 md-size-70">
                        <md-field :class="{'md-invalid':validate.image}">
                            <label>Only PNG images</label>
                            <md-file @md-change="imgToBase64"
                                     v-model="imgUpload"
                                     accept="image/png"/>
                            <span class="md-error">Required Item Image</span>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-small-size-100 md-size-70">
                        <md-field :class="{'md-invalid':validate.type}">
                            <label for="type">Type</label>
                            <md-select v-model="data.type" name="type" id="type">
                                <md-option value="news">News</md-option>
                                <md-option value="hot news">Hot News</md-option>
                            </md-select>
                            <span class="md-error">Required Item Type</span>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-small-size-100 md-size-70">
                        <md-switch v-model="data.used" class="md-primary"> used {{data.used}}</md-switch>
                    </div>

                    <md-button class="md-success" @click="saveForm">Save</md-button>

                </md-card-content>
            </md-card>
        </div>
    </div>
</template>

<script>
    import Vue from "vue";
    import Service from "../../services/index";
    import Notifications from "../../components/NotificationPlugin";

    Vue.use(Notifications);

    export default {
        name: "NewForm",
        data() {
            return {
                id: this.$route.params.id,
                value: null,
                single: null,
                initial: null,
                data: {
                    headline: null,
                    description: null,
                    image: null,
                    type: null,
                    used: true,
                    created_by: null
                },
                imgUpload: null,
                validate: {
                    pass: false,
                    headline: null,
                    description: null,
                    image: null,
                    type: null,
                    created_by: null
                }
            };
        },
        created() {
            this.setDefaultData();
        },
        methods: {
            setDefaultData() {
                if (this.id != null) {
                    Service.news
                        .show(this.id)
                        .then(res => {
                            this.data = res.result;
                            if (this.data.used) {
                                this.data.used = true;
                            } else {
                                this.data.used = false;
                            }
                        })
                        .then(() => {
                            this.data.image = null;
                        });
                } else {
                    this.data.id = null;
                    this.data.headline = null;
                    this.data.description = null;
                    this.data.image = null;
                    this.data.type = null;
                    this.data.created_by = null;
                    this.data.used = true;
                }
            },
            validateForm: function () {
                //check name
                if (this.data.headline === null || this.data.headline === "") {
                    this.validate.headline = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.headline = false;
                    this.validate.pass = true;
                }
                if (this.data.description === null || this.data.description === "") {
                    this.validate.description = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.description = false;
                    this.validate.pass = true;
                }
                if (
                    this.id === null &&
                    (this.data.imgUpload === null || typeof this.imgUpload === "object")
                ) {
                    this.validate.image = true;
                    this.validate.pass = false;
                    this.data.image = null;
                    return this.validate.pass;
                } else {
                    this.validate.image = false;
                    this.validate.pass = true;
                }
                if (this.data.type === null || this.data.type === "") {
                    this.validate.type = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.type = false;
                    this.validate.pass = true;
                }
                if (this.data.created_by === null || this.data.created_by === "") {
                    this.validate.created_by = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.created_by = false;
                    this.validate.pass = true;
                }
                return this.validate.pass;
            },
            imgToBase64() {
                var file = this.imgUpload;
                var reader = new FileReader();

                reader.readAsDataURL(file.target.files[0]);

                let _this = this;
                reader.onload = function () {
                    _this.data.image = reader.result;
                };
                reader.onerror = function (error) {
                    console.log("Error: ", error);
                };
            },
            saveForm() {
                if (!this.validateForm()) {
                    return;
                }
                if (this.id != null) {
                    Service.news
                        .put(this.id, this.data)
                        .then(res => {
                            this.notifyVue(`Update <strong>${res.status}</strong>`, `success`);
                        })
                        .catch(err => {
                            this.notifyVue(
                                `Update <strong> Fail</strong> ${err.message}.`,
                                `danger`
                            );
                        });
                } else {
                    Service.news
                        .post(this.data)
                        .then(res => {
                            this.notifyVue(`Create <strong>${res.status}</strong>`, `success`);
                        })
                        .catch(err => {
                            this.notifyVue(
                                `Create <strong> Fail</strong> ${err.message}.`,
                                `danger`
                            );
                        });
                }
            },
            notifyVue(message, type) {
                this.$notify({
                    message: message,
                    icon: "add_alert",
                    horizontalAlign: "right",
                    verticalAlign: "top",
                    type: type
                });
            }
        }
    };
</script>

<style scoped>
</style>
