<template>
    <div class="md-layout">
        <div class="md-layout-item md-size-100">
            <nav-tabs-card>
                <template slot="content">
                    <span class="md-nav-tabs-title">Ranking : </span>
                    <md-tabs md-sync-route class="md-success" md-alignment="left">

                        <md-tab id="tab-week" md-label="Weekly">
                            <table-week></table-week>
                        </md-tab>

                        <md-tab id="tab-week-reward" md-label="Weekly Reward">
                            <week-reward></week-reward>
                        </md-tab>

                        <md-tab id="tab-month" md-label="Monthly">
                            <table-month></table-month>
                        </md-tab>

                        <md-tab id="tab-month-reward" md-label="Monthly Reward">
                            <month-reward></month-reward>
                        </md-tab>

                    </md-tabs>
                </template>
            </nav-tabs-card>
        </div>
    </div>
</template>

<script>
    import {
        NavTabsCard
    } from '@/components';
    import TableWeek from './Week/Table';
    import WeekReward from './Week/Reward';
    import TableMonth from './Month/Table';
    import MonthReward from './Month/Reward';

    export default {
        name: "Index",
        components: {
            NavTabsCard,
            TableWeek,
            WeekReward,
            TableMonth,
            MonthReward
        }
    }
</script>

<style>
    .md-tabs-content table thead{
        display: contents !important;
    }
    .md-content.md-tabs-content.md-theme-default{
        height: 100% !important;
    }
</style>