<template>
    <div>
        <md-dialog :md-active="active"
                   @md-opened="setDefaultData"
                   @md-clicked-outside="closeDialog">
            <md-dialog-content>
                <md-dialog-title>Verify Details</md-dialog-title>
                <md-subheader>
                    <div class="md-layout-item md-size-40">
                        สถานะ :
                        <md-chip :class="[
                        {'md-primary' :  data.status === 'waiting'},
                        {'md-accent' : data.status === 'reject'},
                        {'md-success' : data.status === 'approve'}
                        ]">
                            {{ data.status }}
                        </md-chip>
                    </div>
                    <div class="md-layout-item md-size-60">
                        สร้างเมื่อ : {{ data.created_at }}
                    </div>
                </md-subheader>
                <md-divider class="md-inset"></md-divider>

                <div class="md-layout md-gutter md-alignment-center-center" style="margin-top: 15px;">
                    <div v-if="data.citizen_id_image != null">
                        <img :src="data.citizen_id_image"
                             alt="id_image"
                             style="width: 300px; height: 300px">
                    </div>
                    <div v-else>
                        <md-icon>
                            close
                        </md-icon>
                    </div>
                </div>

                <md-subheader>Person Information</md-subheader>
                <md-divider class="md-inset"></md-divider>

                <div class="md-layout md-alignment-center-center">
                    <div class="md-layout-item md-size-30">
                        ชื่อ - สกุล
                    </div>
                    <div class="md-layout-item md-size-70">
                        {{data.user.first_name}} {{data.user.last_name}}
                    </div>
                </div>

                <div class="md-layout md-alignment-center-center">
                    <div class="md-layout-item md-size-30">
                        รหัสบัตรประชาชน
                    </div>
                    <div class="md-layout-item md-size-70">
                        {{ data.citizen_id }}
                    </div>
                    <div class="md-layout-item md-size-30">
                        เบอร์โทรศัพท์
                    </div>
                    <div class="md-layout-item md-size-70">
                        +{{ data.country_number }} {{ data.mobile_phone_number }}
                    </div>
                </div>

                <div class="md-layout md-alignment-center-center">
                    <div class="md-layout-item md-size-30">
                        ที่อยู่
                    </div>
                    <div class="md-layout-item md-size-70">
                        {{ data.address }}
                    </div>
                </div>

                <md-subheader>Purchase Information</md-subheader>
                <md-divider class="md-inset"></md-divider>

                <div class="md-layout md-alignment-center-center">
                    <div class="md-layout-item md-size-30">
                        ส้นค้า
                    </div>
                    <div class="md-layout-item md-size-70">
                        <p>{{ data.redeem.item.name }}</p>
                        <img :src="data.redeem.item.image"
                             alt="id_image"
                             style="width: 75px; height: 75px">
                    </div>
                </div>

                <div class="md-layout md-alignment-center-center">
                    <div class="md-layout-item md-size-30">
                        รายละเอียด
                    </div>
                    <div class="md-layout-item md-size-70">
                        {{ data.redeem.item.description }}
                    </div>
                </div>

                <div class="md-layout md-alignment-center-center">
                    <div class="md-layout-item md-size-30">
                        ราคา
                    </div>
                    <div class="md-layout-item md-size-70">
                        {{ data.redeem.redeem_history.amount }}
                    </div>
                </div>

                <div class="md-layout md-alignment-center-center">
                    <div class="md-layout-item md-size-30">
                        สถานะสินค้า
                    </div>
                    <div class="md-layout-item md-size-30">
                        {{ redeemStatus(data.redeem.status) }}
                    </div>
                    <div class="md-layout-item md-size-40">
                        <md-button class="md-just-icon md-simple"
                                   :md-ripple="false"
                                   :class="{'md-primary' : data.redeem.status === 'send'}"
                                   :disabled="data.redeem.status !== 'send'"
                        >
                            <md-icon>local_shipping</md-icon>
                            <md-tooltip md-direction="top">กำลังส่งสินค้า</md-tooltip>
                        </md-button>
                        <md-button class="md-just-icon md-simple"
                                   :md-ripple="false"
                                   :class="{'md-primary' : data.redeem.status === 'complete'}"
                                   :disabled="data.redeem.status !== 'complete'"
                        >
                            <md-icon>verified_user</md-icon>
                            <md-tooltip md-direction="top">ส่งสินค้าแล้ว</md-tooltip>
                        </md-button>
                    </div>
                </div>

                <div v-if="data.status !== 'reject'">
                    <div class="md-layout md-alignment-center-center">
                        <div class="md-layout-item md-size-30">
                            อัพเดทสถานะสินค้า
                        </div>
                        <div class="md-layout-item md-size-70">
                            <md-field>
                                <md-select v-model="submitData.product_status"
                                           name="update_status"
                                           id="update_status"
                                           @md-selected="setDefaultDescription()"
                                           md-dense>
                                    <md-option value="unverify">
                                        {{ redeemStatus('unverify') }}
                                    </md-option>
                                    <md-option value="pending">
                                        {{ redeemStatus('pending') }}
                                    </md-option>
                                    <md-option value="preparing">
                                        {{ redeemStatus('preparing') }}
                                    </md-option>
                                    <md-option value="send">
                                        {{ redeemStatus('send') }}
                                    </md-option>
                                    <md-option value="complete">
                                        {{ redeemStatus('complete') }}
                                    </md-option>
                                </md-select>
                            </md-field>
                        </div>
                    </div>

                    <md-subheader>Update Verify Status</md-subheader>
                    <md-divider class="md-inset"></md-divider>

                    <div class="md-layout md-alignment-center-center">
                        <div class="md-layout-item md-size-30">
                            สถานะ
                        </div>
                        <div class="md-layout-item md-size-70">
                            <md-field>
                                <md-select v-model="submitData.verify"
                                           name="update_status"
                                           id="update_status"
                                           @md-selected="setDefaultProductStatus()"
                                           md-dense>
                                    <md-option value="incomplete">
                                        {{ verifyStatus('incomplete') }}
                                    </md-option>
                                    <md-option value="waiting">
                                        {{ verifyStatus('waiting') }}
                                    </md-option>
                                    <md-option value="approve">
                                        {{ verifyStatus('approve') }}
                                    </md-option>
                                    <md-option value="reject">
                                        {{ verifyStatus('reject') }}
                                    </md-option>
                                </md-select>
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-alignment-center-center">
                        <div class="md-layout-item md-size-30">
                            ข้อความแจ้งเตือน
                        </div>
                        <div class="md-layout-item md-size-70">
                            <md-field>
                                <md-textarea v-model="submitData.description" required></md-textarea>
                                <span class="md-helper-text">(รายละเอียดการอัพเดทสถานะ)</span>
                            </md-field>
                        </div>
                    </div>
                </div>

                <md-dialog-actions>
                    <md-button class="md-primary" @click="closeDialog">Close</md-button>
                    <md-button class="md-primary" @click="saveForm">Update</md-button>
                </md-dialog-actions>
            </md-dialog-content>
        </md-dialog>
    </div>
</template>

<script>
    import Service from "../../services/index";

    export default {
        name: "FormVerify",
        props: [
            "active",
            "id",
            "total",
            "page",
            "reloadData",
            "reloadDataByPage",
            "itemsList"
        ],
        data() {
            return {
                value: null,
                single: null,
                initial: null,
                data: {
                    status: null,
                    user: {
                        first_name: null,
                        last_name: null
                    },
                    redeem: {
                        item: {},
                        redeem_history: {}
                    }
                },
                submitData: {
                    toUserId: null,
                    message: 'อัพเดทสถานะการยืนยันตัวตน',
                    description: null,
                    product_status: 'unverify',
                    verify: 'incomplete',
                    user_id: null,
                    verification_id: null
                }

            };
        },
        computed: {},
        methods: {
            generateRedeemTracking(id) {
                if (id) {
                    let idString = id.toString()
                    return idString.padStart(6, "0");
                } else {
                    return ""
                }
            },
            priceToString(rate, isNull = false) {
                if (isNull && rate === null) {
                    return null;
                } else {
                    const rateString = (Math.round(rate * 100) / 100).toFixed(2);
                    return rateString.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                }
            },
            closeDialog() {
                this.$emit("update:active", false);
            },
            setDefaultData() {
                Service.verifyUser
                    .show(this.id)
                    .then(res => {
                        this.data = res.result;
                        this.submitData.product_status = res.result.redeem.status;
                        this.submitData.verify = res.result.status;
                        this.setDefaultDescription();
                    });
            },
            setDefaultProductStatus() {
                if (this.submitData.verify === 'approve') {
                    this.submitData.product_status = 'preparing';
                }
                this.setDefaultDescription();
            },
            setDefaultDescription() {
                this.submitData.description = `Tracking Number: ${this.generateRedeemTracking(this.data.redeem.id)}
สินค้า: ${this.data.redeem.item.name}
ราคา: ${this.priceToString(this.data.redeem.item.better_price)} BC
สถานะสินค้า: ${this.redeemStatus(this.submitData.product_status)}
สถานะการยืนยันตัวตน: ${this.verifyStatus(this.submitData.verify)}`;
            },
            sendProduct() {
                Service.items.updateRedeemStatus({
                    userId: this.data.user.id,
                    redeemListId: this.data.redeem.id,
                    itemId: this.data.redeem.item_id
                })
                    .then(res => {
                        this.reload();
                        this.closeDialog();
                        this.notifyVue(
                            `Update <strong>${res.status}</strong>`,
                            `success`
                        );
                    })
                    .catch(err => {
                        this.closeDialog();
                        this.notifyVue(
                            `Update <strong> Fail</strong> ${err.message}.`,
                            `danger`
                        );
                    });
            },
            saveForm() {
                this.submitData.toUserId = this.data.user.id;
                this.submitData.user_id = this.data.user.id;
                this.submitData.verification_id = this.data.id;

                Service.verifyUser
                    .post(this.submitData)
                    .then(res => {
                        this.reload();
                        this.closeDialog();
                        this.notifyVue(
                            `Update <strong>${res.status}</strong>`,
                            `success`
                        );
                    })
                    .catch(err => {
                        this.closeDialog();
                        this.notifyVue(
                            `Update <strong> Fail</strong> ${err.message}.`,
                            `danger`
                        );
                    });
            },
            notifyVue(message, type) {
                this.$notify({
                    message: message,
                    icon: "add_alert",
                    horizontalAlign: "right",
                    verticalAlign: "top",
                    type: type
                });
            },
            reload() {
                if (this.total - 1 > 15) {
                    this.reloadDataByPage();
                } else {
                    this.reloadData();
                }
            },
            redeemStatus(status) {
                let status_th = null;
                switch (status) {
                    case 'unverify':
                        status_th = 'รอยืนยันตัวตน';
                        break;
                    case 'pending':
                        status_th = 'รอตรวจสอบ';
                        break;
                    case 'preparing':
                        status_th = 'เตรียมจัดส่ง';
                        break;
                    case 'send':
                        status_th = 'ส่งแล้ว';
                        break;
                    case 'complete':
                        status_th = 'เสร็จสิ้น';
                        break;
                    default :
                        status_th = 'เสร็จสิ้น';
                        break;
                }

                return status_th
            },
            verifyStatus(status) {
                let status_th = null;
                switch (status) {
                    case 'incomplete':
                        status_th = 'รอยืนยันตัวตน';
                        break;
                    case 'waiting':
                        status_th = 'รอตรวจสอบ';
                        break;
                    case 'approve':
                        status_th = 'ยืนยันสำเร็จ';
                        break;
                    case 'reject':
                        status_th = 'ไม่ผ่านการยืนยัน';
                        break;
                    default :
                        status_th = 'รอยืนยันตัวตน';
                        break;
                }

                return status_th
            }
        }
    }
</script>

<style scoped>
    .md-dialog {
        width: 550px;
    }

    .md-inset {
        margin-left: 0;
        background-color: #ff9800;
    }

    .md-icon.md-icon-font.md-theme-default {
        margin: 0 30px;
    }

    .md-success {
        background: #4caf50;
        color: #fff;
    }
</style>