<template>
    <div class="content">
        <div class="md-layout">
            <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100">
                <md-card>
                    <md-card-header data-background-color="green">
                        <h4 class="title">User Verify List</h4>
                        <p class="category">All verify request in system.</p>
                    </md-card-header>
                    <md-card-content>
                        <table-verify></table-verify>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</template>

<script>
    import TableVerify from "./Table"
    export default {
        name: "Index",
        components:{
            TableVerify
        }
    }
</script>

<style scoped>

</style>