<template>
    <div>
        <div class="md-layout md-gutter md-alignment-center-right">
            <div class="md-layout-item md-size-25">
                <md-field>
                    <label>Search</label>
                    <md-input v-model="filter" type="text" @keyup.enter="initData"></md-input>
                    <span class="md-helper-text">Press enter for search</span>
                </md-field>
            </div>
            <div class="md-layout-item md-size-25">
            </div>
        </div>

        <div v-if="data != null">
            <md-table v-model="data" :table-header-color="tableHeaderColor">
                <md-table-row slot="md-table-row" slot-scope="{ item }">
                    <md-table-cell>
                        <md-menu>
                            <md-button class="md-just-icon md-simple md-primary" @click="openForm(item.id)">
                                <md-icon>edit</md-icon>
                                <md-tooltip md-direction="top">Edit</md-tooltip>
                            </md-button>
                        </md-menu>
                        <md-menu>
                            <md-button class="md-just-icon md-simple md-danger"
                                       @click="openConfirmModal(item)">
                                <md-icon>close</md-icon>
                                <md-tooltip md-direction="top">Delete</md-tooltip>
                            </md-button>
                        </md-menu>
                    </md-table-cell>
                    <md-table-cell md-label="TrackingNumber">
                        {{ item.redeem.tracking_number }}
                    </md-table-cell>
                    <md-table-cell md-label="Status">
                        <md-chip :class="[
                        {'md-primary' :  item.status === 'waiting'},
                        {'md-accent' : item.status === 'reject'},
                        {'md-success' : item.status === 'approve'}
                        ]">
                            {{ item.status }}
                        </md-chip>
                    </md-table-cell>
                    <md-table-cell md-label="Image">
                        <md-list-item v-if="item.citizen_id_image != null">
                            <img :src="item.citizen_id_image"
                                 alt="id_image"
                                 style="width: 50px; height: 50px">
                        </md-list-item>
                        <md-icon v-else>
                            close
                        </md-icon>
                    </md-table-cell>
                    <md-table-cell md-label="Name">
                        {{ item.user.first_name }} {{ item.user.last_name }}
                    </md-table-cell>
                    <md-table-cell md-label="phone">
                        +{{ item.country_number }} {{ item.mobile_phone_number }}
                    </md-table-cell>
                    <md-table-cell md-label="Citizen Id">
                        {{ item.citizen_id }}
                    </md-table-cell>
                </md-table-row>
            </md-table>

            <div class="md-alignment-center-center" v-if="paginate.total > 0">
                <div class="md-layout-item md-size-100 text-center">
                    <vue-ads-pagination
                            :page="paginate.currentPage - 1"
                            :itemsPerPage="paginate.perPage"
                            :totalItems="paginate.total"
                            :loading="pageLoading"
                            @page-change="pageChange"
                    />
                </div>
            </div>

            <md-dialog-confirm
                    :md-active.sync="confirmModal"
                    md-title="Confirm Delete"
                    :md-content="confirmModalContent"
                    @md-cancel="onCancel"
                    @md-confirm="onConfirm"/>

            <form-verify :active.sync="active"
                         :id="id"
                         :total="paginate.total"
                         :page="result.current_page"
                         :reloadData="initData"
                         :reloadDataByPage="initDataByPage"
                         :itemsList="allItems"/>

            <div class="loading-overlay" v-if="loading">
                <md-progress-spinner md-mode="indeterminate" :md-stroke="2"></md-progress-spinner>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from "vue";
    import Service from "../../services/index";
    import VueAdsPagination, {VueAdsPageButton} from 'vue-ads-pagination';
    import Notifications from "../../components/NotificationPlugin";
    import FormVerify from "./Form";

    Vue.use(Notifications);

    export default {
        name: "TableVerify",
        props: {
            tableHeaderColor: {
                type: String,
                default: ""
            }
        },
        components: {
            VueAdsPagination,
            VueAdsPageButton,
            FormVerify
        },
        data() {
            return {
                loading: true,
                id: null,
                filter: "",
                active: false,
                result: null,
                data: null,
                confirmModal: false,
                paginate: {
                    currentPage: 1,
                    firstPageUrl: null,
                    from: null,
                    lastPage: null,
                    lastPageUrl: null,
                    nextPageUrl: null,
                    perPage: null,
                    path: null,
                    prevPageUrl: null,
                    to: null,
                    total: 0
                },
                showFormDialog: false,
                confirmModalContent: "Are you sure you want to delete this item?",
                pageLoading: false,
                allItems: false
            };
        },
        beforeCreate() {
            this.active = false;
            Service.verifyUser
                .get(this.filter)
                .then(res => {
                    this.usageData(res);
                    this.loading = false;
                });
        },
        methods: {
            initData() {
                Service.verifyUser
                    .get(this.filter)
                    .then(res => {
                        this.usageData(res);
                        this.loading = false;
                    });
            },
            initDataByPage() {
                Service.verifyUser
                    .getByPage(
                        this.result.current_page,
                        this.filter
                    )
                    .then(res => {
                        this.usageData(res);
                        this.loading = false;
                    });
            },
            usageData(res) {
                this.result = res.result;
                this.paginate = {
                    currentPage: this.result.current_page,
                    firstPageUrl: this.result.first_page_url,
                    from: this.result.from,
                    lastPage: this.result.last_page,
                    lastPageUrl: this.result.last_page_url,
                    nextPageUrl: this.result.next_page_url,
                    perPage: this.result.per_page,
                    path: this.result.path,
                    prevPageUrl: this.result.prev_page_url,
                    to: this.result.to,
                    total: this.result.total
                };
                this.data = this.result.data;
            },
            openForm(id) {
                this.active = true;
                this.id = id;
            },
            openConfirmModal(item) {
                this.confirmModalContent = `Are you sure you want to delete <strong>${item.user.first_name} ${item.user.last_name}</strong> ?`;
                this.deleteRow = item;
                this.confirmModal = true;
            },
            pageChange(page, start, end) {
                this.pageLoading = true;
                Service.verifyUser
                    .getByPage(`${page + 1}`, this.filter)
                    .then(res => {
                        this.usageData(res);
                        this.pageLoading = false;
                    });
            },
            onConfirm() {
                Service.verifyUser
                    .delete(this.deleteRow.id)
                    .then(() => {
                        this.notifyVue(
                            `Item <strong>${this.deleteRow.set_id}</strong> Deleted`,
                            `success`
                        );
                    })
                    .then(() => {
                        if (this.paginate.total - 1 > 15) {
                            this.initDataByPage();
                        } else {
                            this.initData();
                        }
                    });
            },
            onCancel() {
                this.deleteRow = null;
            },
            notifyVue(message, type) {
                this.$notify({
                    message: message,
                    icon: "add_alert",
                    horizontalAlign: "right",
                    verticalAlign: "top",
                    type: type
                });
            }
        }
    }
</script>

<style scoped>
    .md-icon.md-icon-font.md-theme-default {
        margin: 0 30px;
    }

    .md-success {
        background: #4caf50;
        color: #fff;
    }
</style>