<template>

</template>

<script>
    export default {
        name: "Test",
        data() {
            return {
                date: null
            }
        },
        methods:{

        }
    }
</script>

<style scoped>

</style>