<template>
    <div>
        <md-dialog :md-active="active"
                   @md-opened="setDefaultData"
                   @md-clicked-outside="closeDialog">
            <md-dialog-content>
                <md-dialog-title>Form</md-dialog-title>

                <div class="md-layout">
                    <div class="md-layout-item 33">
                        <md-field>
                            <label>Email  {{ data.id }}</label>
                            <md-input v-model="data.email" :disabled="data.id != null"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item 33">
                        <md-field :class="{'md-invalid':validate.password_confirmation}">
                            <label>Password</label>
                            <md-input v-model="data.password"></md-input>
                            <span class="md-error">Password Not Match</span>
                        </md-field>
                    </div>
                    <div class="md-layout-item 33">
                        <md-field :class="{'md-invalid':validate.password_confirmation}">
                            <label>Password Confirm</label>
                            <md-input v-model="data.password_confirmation"></md-input>
                            <span class="md-error">Password Not Match</span>
                        </md-field>
                    </div>
                </div>

                <div class="md-layout">
                    <div class="md-layout-item md-size-33">
                        <md-field :class="{'md-invalid':validate.first_name}">
                            <label>First Name</label>
                            <md-input v-model="data.first_name"></md-input>
                            <span class="md-error">Required First Name</span>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-33">
                        <md-field :class="{'md-invalid':validate.last_name}">
                            <label>Last Name</label>
                            <md-input v-model="data.last_name"></md-input>
                            <span class="md-error">Required Last Name</span>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-33">
                        <md-field :class="{'md-invalid':validate.bag_slot}">
                            <label>Bag Slots</label>
                            <md-input v-model="data.bag_slot" type="number"></md-input>
                            <span class="md-error">Required Bag Slots</span>
                        </md-field>
                    </div>
                </div>

                <div class="md-layout">
                    <div class="md-layout-item md-size-33">
                        <md-field :class="{'md-invalid':validate.gender}">
                            <label for="gender">Gender</label>
                            <md-select name="gender" id="gender" v-model="data.gender">
                                <md-option value="male">Male</md-option>
                                <md-option value="female">Female</md-option>
                            </md-select>
                            <span class="md-error">Required Gender</span>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-33">
                        <md-field :class="{'md-invalid':validate.verified}">
                            <label for="verified">Verified</label>
                            <md-select name="verified" id="verified" v-model="data.verified">
                                <md-option value="verify">Verify</md-option>
                                <md-option value="unverify">Unverify</md-option>
                            </md-select>
                            <span class="md-error">Required Verified</span>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-33">
                        <md-field :class="{'md-invalid':validate.active}">
                            <label for="active">Active</label>
                            <md-select name="active" id="active" v-model="data.active">
                                <md-option value="active">active</md-option>
                                <md-option value="inactive">inactive</md-option>
                            </md-select>
                            <span class="md-error">Required Active</span>
                        </md-field>
                    </div>
                </div>

                <div class="md-layout">
                    <div class="md-layout-item md-size-33">
                        <md-field>
                            <label>Images</label>
                            <md-file @md-change="imgToBase64"
                                     v-model="imgUpload"
                                     accept="image/png"/>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-33">
                        <md-field :class="{'md-invalid':validate.group}">
                            <label for="group">Group</label>
                            <md-select name="group" id="group" v-model="data.group">
                                <md-option value="user">user</md-option>
                                <md-option value="admin">Admin</md-option>
                                <md-option value="superadmin">Superadmin</md-option>
                            </md-select>
                            <span class="md-error">Required Group</span>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-33">
                        <md-field :class="{'md-invalid':validate.birthday}">
                            <md-datepicker v-model="data.birthday">
                                <label>Select Birthday</label>
                            </md-datepicker>
                            <span class="md-error">Required Birthday</span>
                        </md-field>
                    </div>
                </div>

                <md-dialog-actions>
                    <md-button class="md-primary" @click="closeDialog">Close</md-button>
                    <md-button class="md-primary" @click="saveForm">Save</md-button>
                </md-dialog-actions>
            </md-dialog-content>
        </md-dialog>
    </div>
</template>

<script>
    import Service from "../../services/index";

    export default {
        name: "FormUser",
        props: ["active", "id", "total", "page", "reloadData", "reloadDataByPage"],
        data() {
            return {
                value: null,
                single: null,
                initial: null,
                data: {
                    email: null,
                    password: null,
                    password_confirmation: null,
                    first_name: null,
                    last_name: null,
                    bag_slot: 6,
                    gender: null,
                    verified: null,
                    active: null,
                    profile_image: null,
                    group: null,
                    birthday: null
                },
                imgUpload: null,
                validate: {
                    email: false,
                    password: false,
                    password_confirmation: false,
                    pass: true,
                    name: false,
                    first_name: false,
                    last_name: false,
                    bag_slot: false,
                    gender: false,
                    verified: false,
                    active: false,
                    group: false,
                    birthday: false
                }
            };
        },
        methods: {
            closeDialog() {
                this.$emit("update:active", false);
            },
            setDefaultData() {
                if (this.id != null) {
                    Service.users
                        .show(this.id)
                        .then(res => {
                            this.data = res.result;
                        })
                        .then(() => {
                            this.data.password = null;
                            this.data.password_confirmation = null;
                            this.data.profile_image = null;
                            this.imgUpload = null;
                        });
                } else {
                    this.data.id = null;
                    this.data.email = null;
                    this.data.password = null;
                    this.data.password_confirmation = null;
                    this.data.first_name = null;
                    this.data.last_name = null;
                    this.data.bag_slot = 6;
                    this.data.gender = null;
                    this.data.verified = null;
                    this.data.active = null;
                    this.data.profile_image = null;
                    this.data.group = null;
                    this.data.birthday = null;
                    this.imgUpload = null;
                }
            },
            validateForm: function () {
                //check name
                if (this.data.password_confirmation === this.data.password) {
                    this.validate.password_confirmation = false;
                    this.validate.pass = true;
                } else {
                    this.validate.password_confirmation = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                }
                if (this.data.first_name === null || this.data.first_name === "") {
                    this.validate.first_name = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.first_name = false;
                    this.validate.pass = true;
                }
                if (this.data.bag_slot === null || this.data.bag_slot === "") {
                    this.validate.bag_slot = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.bag_slot = false;
                    this.validate.pass = true;
                }
                if (this.data.gender === null || this.data.gender === "") {
                    this.validate.gender = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.gender = false;
                    this.validate.pass = true;
                }
                if (this.data.verified === null || this.data.verified === "") {
                    this.validate.verified = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.verified = false;
                    this.validate.pass = true;
                }
                if (this.data.active === null || this.data.active === "") {
                    this.validate.active = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.active = false;
                    this.validate.pass = true;
                }
                if (this.data.group === null || this.data.group === "") {
                    this.validate.group = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.group = false;
                    this.validate.pass = true;
                }
                /*
                if (this.data.birthday === null || this.data.birthday === "") {
                    this.validate.birthday = true;
                    this.validate.pass = false;
                    return this.validate.pass;
                } else {
                    this.validate.birthday = false;
                    this.validate.pass = true;
                }
                */
                //check image
                if (this.imgUpload === null || typeof this.imgUpload === "object") {
                    this.data.profile_image = null;
                }
                return this.validate.pass;
            },
            imgToBase64() {
                var file = this.imgUpload;
                var reader = new FileReader();

                reader.readAsDataURL(file.target.files[0]);

                let _this = this;
                reader.onload = function () {
                    _this.data.profile_image = reader.result;
                };
                reader.onerror = function (error) {
                    console.log("Error: ", error);
                };
            },
            saveForm() {
                if (!this.validateForm()) {
                    return;
                }
                if (this.id != null) {
                    Service.users
                        .put(this.id, this.data)
                        .then(res => {
                            this.reload();
                            this.closeDialog();
                            this.notifyVue(`Update <strong>${res.status}</strong>`, `success`);
                        })
                        .catch(err => {
                            this.closeDialog();
                            this.notifyVue(
                                `Update <strong> Fail</strong> ${err.message}.`,
                                `danger`
                            );
                        });
                } else {
                    Service.users
                        .post(this.data)
                        .then(res => {
                            this.reload();
                            this.closeDialog();
                            this.notifyVue(`Create <strong>${res.status}</strong>`, `success`);
                        })
                        .catch(err => {
                            this.closeDialog();
                            this.notifyVue(
                                `Create <strong> Fail</strong> ${err.message}.`,
                                `danger`
                            );
                        });
                }
            },
            notifyVue(message, type) {
                this.$notify({
                    message: message,
                    icon: "add_alert",
                    horizontalAlign: "right",
                    verticalAlign: "top",
                    type: type
                });
            },
            reload() {
                if (this.total - 1 > 15) {
                    this.reloadDataByPage();
                } else {
                    this.reloadData();
                }
            }
        }
    };
</script>

<style scoped>
    .md-dialog {
        width: 90%;
        transform: translate(calc(-50% + 0.5px), calc(-50% + 0.5px));
    }
</style>
