<template>
    <div>
        <div class="md-layout md-gutter md-alignment-center-right">
            <div class="md-layout-item md-size-25">
                <md-button class="md-success md-just-icon" @click="openForm(null)">
                    <md-icon>add</md-icon>
                    <md-tooltip md-direction="top">Add</md-tooltip>
                </md-button>
            </div>
        </div>

        <div v-if="data != null">
            <md-table v-model="data" :table-header-color="tableHeaderColor">
                <md-table-row slot="md-table-row" slot-scope="{ item }">
                    <md-table-cell>
                        <md-menu md-direction="top-start">
                            <md-button class="md-just-icon md-simple md-info" md-menu-trigger>
                                <md-icon>more_vert</md-icon>
                                <md-tooltip md-direction="top">History</md-tooltip>
                            </md-button>
                            <md-menu-content>
                                <div class="author-card">
                                    <div class="author-card-info">
                                        <span>Histories</span>
                                        <div class="author-card-links">
                                            <router-link :to="{ name: 'PurchaseHistory', params: {user_id: item.id } }">
                                                Purchase
                                            </router-link>
                                            <router-link :to="{ name: 'StepsHistory', params: {user_id: item.id } }">
                                                Steps
                                            </router-link>
                                        </div>
                                    </div>
                                </div>
                            </md-menu-content>
                        </md-menu>
                        <md-menu>
                            <md-button class="md-just-icon md-simple md-primary" @click="openForm(item.id)">
                                <md-icon>edit</md-icon>
                                <md-tooltip md-direction="top">Edit</md-tooltip>
                            </md-button>
                        </md-menu>
                        <md-menu>
                            <md-button class="md-just-icon md-simple md-danger"
                                       @click="openConfirmModal(item)">
                                <md-icon>close</md-icon>
                                <md-tooltip md-direction="top">Delete</md-tooltip>
                            </md-button>
                        </md-menu>
                    </md-table-cell>
                    <md-table-cell md-label="Avatar">
                        <md-list-item>
                            <img :src="item.profile_image" alt="Avatar" style="width: 50px; height: 50px">
                        </md-list-item>
                    </md-table-cell>
                    <md-table-cell md-label="Email">{{ item.email }}</md-table-cell>
                    <md-table-cell md-label="name">{{ item.first_name }} {{ item.last_name }}</md-table-cell>
                    <md-table-cell md-label="Gender">{{ item.gender }}</md-table-cell>
                    <md-table-cell md-label="Birthday">{{ item.birthday }}</md-table-cell>
                    <md-table-cell md-label="Verified">
                        <md-chip class="md-primary" v-if="item.verified === 'verify'">
                            verify
                        </md-chip>
                        <md-chip class="active" v-else>
                            unverify
                        </md-chip>
                    </md-table-cell>
                    <md-table-cell md-label="Active">
                        <md-chip class="md-primary" v-if="item.active === 'active'">
                            active
                        </md-chip>
                        <md-chip class="active" v-else>
                            inactive
                        </md-chip>
                    </md-table-cell>
                    <md-table-cell md-label="Last Login">{{ item.last_login }}</md-table-cell>
                    <md-table-cell md-label="Group">{{ item.group }}</md-table-cell>
                </md-table-row>
            </md-table>

            <div class="md-alignment-center-center" v-if="paginate.total > 0">
                <div class="md-layout-item md-size-100 text-center">
                    <vue-ads-pagination
                            :page="paginate.currentPage - 1"
                            :itemsPerPage="paginate.perPage"
                            :totalItems="paginate.total"
                            :loading="pageLoading"
                            @page-change="pageChange"
                    />
                </div>
            </div>

            <md-dialog-confirm
                    :md-active.sync="confirmModal"
                    md-title="Confirm Delete"
                    :md-content="confirmModalContent"
                    @md-cancel="onCancel"
                    @md-confirm="onConfirm"/>

            <form-rewards :active.sync="active"
                          :id="id"
                          :total="paginate.total"
                          :page="result.current_page"
                          :reloadData="initData"
                          :reloadDataByPage="initDataByPage"
                          :itemsList="allItems"/>

            <div class="loading-overlay" v-if="loading">
                <md-progress-spinner md-mode="indeterminate" :md-stroke="2"></md-progress-spinner>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from "vue";
    import Service from "../../services/index";
    import VueAdsPagination, {VueAdsPageButton} from 'vue-ads-pagination';
    import Notifications from "../../components/NotificationPlugin";
    import FormRewards from "./Form"

    Vue.use(Notifications);

    export default {
        name: "TableUsers",
        props: {
            tableHeaderColor: {
                type: String,
                default: ""
            }
        },
        data() {
            return {
                loading: true,
                id: null,
                active: false,
                result: null,
                data: null,
                confirmModal: false,
                paginate: {
                    currentPage: 1,
                    firstPageUrl: null,
                    from: null,
                    lastPage: null,
                    lastPageUrl: null,
                    nextPageUrl: null,
                    perPage: null,
                    path: null,
                    prevPageUrl: null,
                    to: null,
                    total: 0
                },
                showFormDialog: false,
                confirmModalContent: "Are you sure you want to delete this item?",
                pageLoading: false,
                allItems: false
            };
        },
        components: {
            VueAdsPagination,
            VueAdsPageButton,
            FormRewards
        },
        beforeCreate() {
            Service.users.get().then(res => {
                this.usageData(res);
                this.loading = false;
            });
        },
        methods: {
            initData() {
                Service.users.get().then(res => {
                    this.usageData(res);
                    this.loading = false;
                });
            },
            initDataByPage() {
                Service.users.getByPage(this.result.current_page).then(res => {
                    this.usageData(res);
                    this.loading = false;
                });
            },
            usageData(res) {
                this.result = res.result;
                this.paginate = {
                    currentPage: this.result.current_page,
                    firstPageUrl: this.result.first_page_url,
                    from: this.result.from,
                    lastPage: this.result.last_page,
                    lastPageUrl: this.result.last_page_url,
                    nextPageUrl: this.result.next_page_url,
                    perPage: this.result.per_page,
                    path: this.result.path,
                    prevPageUrl: this.result.prev_page_url,
                    to: this.result.to,
                    total: this.result.total
                };
                this.data = this.result.data;
            },
            openForm(id) {
                this.active = true;
                this.id = id;
            },
            openConfirmModal(item) {
                this.confirmModalContent = `Are you sure you want to delete <strong>${item.first_name}</strong> ?`;
                this.deleteRow = item;
                this.confirmModal = true;
            },
            onConfirm() {
                Service.users
                    .delete(this.deleteRow.id)
                    .then(() => {
                        this.notifyVue(
                            `Item <strong>${this.deleteRow.first_name}</strong> Deleted`,
                            `success`
                        );
                    })
                    .then(() => {
                        if (this.paginate.total - 1 > 15) {
                            this.initDataByPage();
                        } else {
                            this.initData();
                        }
                    });
            },
            onCancel() {
                this.deleteRow = null;
            },
            pageChange(page, start, end) {
                this.pageLoading = true;
                Service.users.getByPage(`${page + 1}`).then(res => {
                    this.usageData(res)
                    this.pageLoading = false;
                });
            },
            notifyVue(message, type) {
                this.$notify({
                    message: message,
                    icon: "add_alert",
                    horizontalAlign: "right",
                    verticalAlign: "top",
                    type: type
                });
            }
        }
    };
</script>

<style scoped>

    .loading-overlay {
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<style lang="scss" scoped>
    .md-menu,
    .toggle {
        margin: 24px;
    }

    .author-card {
        padding: 8px 16px;
        display: flex;
        align-items: center;

        .md-avatar {
            margin-right: 16px;
        }

        .author-card-info {
            display: flex;
            flex-flow: column;
            flex: 1;
        }

        span {
            font-size: 16px;
        }

        .author-card-links {
            display: flex;

            a + a {
                margin-left: 8px;
            }
        }
    }
</style>
